{% if customer %}
    <div class="account-logged">
        <p class="h4-title">You are already logged in</p>
        <a class="button button--primary" href="{{ routes.account_url }}">Go to My Account</a>
    </div>
{% endif %}
