<style>
  .kailo-landing {
    font-size: x-large;
    line-height:normal;
  }
  .kailo-landing button, .yes-bundle button {
  	background-color: #928159;
    border-radius:20px;
    color:#fff;
    padding:1em 0;
    font-size:1.0em;
    font-weight:600;
	-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
  }
  .kailo-landing button span, .yes-bundle button span {
  	background-color: #928159;
    border-radius:20px;
    color:#fff;
    padding:1.2em;
    font-size:1.0em;
    font-weight:600;
	-moz-box-shadow: inset 0 0 35px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 35px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 35px rgba(0,0,0,0.3);
  }
  /* landing products */
  .landing-products {
   	padding: 0em 2em 5em 2em;
    background-color: #131313;
  }
  .landing-products .wrapper {
    text-align:center;
   	display:flex; 
  }
  .landing-products .buy-anchor {
   	margin-top:5em; 
  }
  .landing-product-title {
    font-size: 1.3em;
    font-weight: 600;
  }
  .landing-product-price {
    font-size: 2.4em;
  }
  .landing-product-sale {
   	 text-decoration: line-through;
  }
  button.landing-product-add, button.landing-product-add span {
   	font-size: 1em; 
  }
  .product-link {
  	color: #fff;
  }
  .product-link > div {
   	font-size: 0.65em; 
  }
  .white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 1200px;
    margin: 20px auto;
  }
  .popup-inner{
	display:flex;
  }
  .popup-inner > div{
	flex:100%;
  }
  .special {
	display:block;
    text-align:center;
    width:85%;
  }
  .rate {
	text-align:center;
	margin: -0.5em 0;
  }
  .number {
	font-size:6em;
    font-weight:600;
  }
  .percent {
	position: relative;
    top: -0.5em;
    font-size: 3.5em;
    font-weight:600;
  }
  .off {
    position: relative;
    left: -2.3em;
    font-size: 1.5em;
    font-weight: 600;
  }
  .special-image {
    width:85%;
  }
  .act-now {
    display:block;
    font-size:1.2em;
	font-weight:600;
    text-align:center;
  }
  .offer {
	display:block;
    font-size:2.2em;
    font-weight:600;
    text-align:center;
    color: #ff6b01;
  }
  .original-price {
	display:block;
    text-align:center;
	text-decoration: line-through;
    color:red;
  }
  .new-price {
	display:block;
    text-align:center;
  }
  .yes-bundle {
    margin: 2em 0 1em 0;
	text-align:center;
  }
  .no-thanks {
	display:block;
    text-align:center;
  }
  .no-thanks a {
	color:#343434;
    text-decoration:underline;
    cursor:pointer;
  }
  /* landing footer */
  .landing-footer {
    position:relative;
  	height: 55em;
    background-image: url({{ 'footer-background.png' | asset_img_url: 'master' }});
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landing-footer .content, .landing-footer .landing-footer-link {
    color:#fff;
    font-size: 1.1em;
  }
  .landing-footer .content {
    padding: 0 3em;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  @media (max-width: 1024px) {
    body { font-size: large; }
    .landing-info .wrapper > div {
     width:70%; 
    }
  }
  @media (max-width: 768px) {
    body { font-size: medium; }
    .landing-info .wrapper > div {
     width:80%; 
    }
    .landing-products .wrapper {
      display:block;
    }
  }
  @media (max-width: 500px) {
    body { font-size: small; }
    .landing-info {
     background-position: left bottom;
    }
    h1 {
     font-size: 1.9em; 
    }
    .landing-banner .wrapper {
      top: 55%;
    }
    .landing-info .wrapper > div {
     width:100%; 
    }
    .popup-inner{
      display:block;
    }
    .timer-wrapper .timer-message {
      font-size:1.5em;
    }
    #days, #hours, #minutes, #seconds {
      font-size: 3em; 
    }    
  }
  .timer-wrapper {
    position:relative; 
    background-color:black;
    background-image:url({{ 'KailoBox-Holiday-1003-built-website.png' | asset_img_url: 'master' }});
    background-size:cover;
    min-height:28em;
    white-space:nowrap;
    background-repeat: no-repeat;
    background-position: 0px -60px;
  }
  .timer-wrapper .timer-message {
    display:block;
    margin-bottom:.6em;
    font-size:1.5em;
  }
  #timer {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index:9;
    text-align:center;
  }
  @media only screen and (max-width: 600px) {
    #timer {
      left:50%;
    }
}
  #timer div {
    display: inline-block;
    line-height: 1;
    font-weight:bold;
    color:white;
  }
  #days {
    display:block !important; 
  }
  #days, #hours, #minutes, #seconds {
    font-size: 3em; 
  }
  .timer-wrapper .timer-cta {
    display:block !important;
    margin-top:2em;
  }  
</style>
  	<div id="bundle-discount" class="white-popup mfp-hide">
      <div class="popup-inner kailo-landing">
        <div>
          <span class="special">Need Adhesives?</span><br><br><br>
          <!--<div class="rate">
              <span class="number">20</span>
              <span class="percent">%</span>
              <span class="off">OFF</span>
          </div>-->
          <img class="special-image lazyload" data-src="{{ 'goKailo-10Pack-KtTape-cart-upSell.jpg' | asset_img_url: 'master' }}" />
        </div>
        <div>
          <span class="act-now">Act Now and Get...</span>
          <span class="offer">10 Pack Adhesive + KT Tape</span>
          <br><!--<span class="original-price">$36.98 Value</span>-->
          <span class="new-price">Add-on Price = $36.98!</span>
          <hr />
          <div class="yes-bundle"><button onclick="bundle('true')"><span>Yes, I Want This!</span></button></div>
          <div class="no-thanks"><a onclick="closePopup()">No, I Don't Want This Special Offer.</a></div>
        </div>
      </div>
	</div>
<script type="text/javascript">
function bundle(bundle) {	
  
    if(bundle == 'true') {
        jQuery.ajax({
          type: "POST",
          url: '/cart/add.js',
          data: {
              quantity: 1,
              id: 32217170608259
            },
          async: false
        });
        jQuery.ajax({
          type: "POST",
          url: '/cart/add.js',
          data: {
              quantity: 1,
              id: 20859019427902
            },
          async: false
        });
    }
  
  	location.href='/cart';
};
  
$(window).load(function(){
  var noThanksCookie = getCookie("no-thanks");
  

if(!noThanksCookie || noThanksCookie == "false"){
    $.magnificPopup.open({
  	items: {src: '#bundle-discount'},type: 'inline'}, 0);
	}
});
  
function closePopup() {
  $('.mfp-close').click();
  console.log('should close window');
}
  
  //Get no thanks link
  const noThanks = document.querySelector('.popup-inner .no-thanks a');
  
//If link is clicked, trigger function that sets cookie
noThanks.addEventListener('click', noThanksCookie);

//Function to create no-thanks cookie for 30 days
function noThanksCookie() {
    var date, expires;
      date = new Date();
      date.setTime(date.getTime() + 30 * 24 * 60 * 60 * 1000);
      expires = "; expires=" + date.toUTCString();

    document.cookie = "no-thanks=true" + expires + "; path=/";
  }
  

</script>