<div class="header-basic-link animate">
    <img class="header-basic-link__logo" src="{{ 'kailo-logo-grey.png' | file_img_url: '150x' }}">
    <div class="link-container">
        <a class="basic-link" href="{{ collections['all-pain-patches-development'].url }}">SHOP PAIN PATCHES</a>
    </div>
</div>