<div id="landing-video"></div>
{% schema %}
    {
        "name": "Content Video",
        "class": "content-video",
        "settings": [
            {
                "type": "video_url",
                "id": "video",
                "label": "Video",
                "accept": ["youtube", "vimeo"]
            }
        ]
    }
{% endschema %}

