<nav class="footer__navigation">
    <div class="footer__nav">
        <ul class="footer__nav-list">
            <li>
                <a class="h6-title" href="#">contact</a>
            </li>

            <li>
                <a class="h6-title" href="#">return policy</a>
            </li>

            <li>
                <a class="h6-title" href="#">news</a>
            </li>

            <li>
                <a class="h6-title" href="#">terms & conditions</a>
            </li>

            <li>
                <a class="h6-title" href="#">partnership inquiries</a>
            </li>
        </ul>
    </div>
</nav>
