<div class="footer__subscribe">
    <a href="{{ routes.root_url }}">
        <img src="{{ "logo-footer.png" | asset_url }}" width="100" height="100" alt="Kailo">
    </a>

    <div class="footer__subscribe-info">
        <h4 class="h4 -title">subscribe to our newsletter</h4>
        <p>Promotions, new products and sales, directly to your inbox.</p>
    </div>

    <div id="contact_form" class="footer__subscribe-form">
        {% form 'customer' %}
            <div class="field-block">
                <input type="email" placeholder="Email" name="contact[email]"/>
            </div>

            <button type="submit" class="button button--primary">subscribe</button>
        {% endform %}
    </div>

    <div id="successSubscribe" class="footer__subscribe-success">
        {% render "icon-success" %}
        <p>Thank you for subscribing to our newsletter!</p>
    </div>
</div>
