<p class="footer__copyright">
    Copyright © 2023 Kailo Labs LLC. All rights reserved. Kailo™, The K™ Emblem, and The Future of Pain Relief™ are trademarks of Kailo Labs LLC. Kailo is protected by U.S. Patents Kailo licenses technology from nCAP technologies.
</p>
