<div class="footer__socials">
    <ul class="footer__socials-list">
        <li>
            <a href="https://twitter.com/getKalio" target="_blank">
                twitter
                {% render "icon-twitter" %}
            </a>
        </li>

        <li>
            <a href="https://www.facebook.com/getkailo" target="_blank">
                facebook
                {% render "icon-facebook" %}
            </a>
        </li>

        <li>
            <a href="https://www.instagram.com/getkailo/" target="_blank">
                instagram
                {% render "icon-instagram" %}
            </a>
        </li>
    </ul>
</div>
