<style>
    .announcement-bar {
        position: relative;
        z-index: 1;
        padding: 8px 0;
        color: var(--grays6);
        background-color: var(--primary4);
    }

    .announcement-bar .container {
        --container-width: 1010px;
    }

    .announcement-bar__wrapper {
        display: flex;
    }

    .announcement-bar ul {
        display: flex;
        align-items: center;
        margin: 0 32px 0 0;
    }

    .announcement-bar li:not(:last-child) {
        margin: 0 16px 0 0;
    }

    .announcement-bar a:hover,
    .announcement-bar a:focus {
        transform: scale(1.1);
    }
</style>

<div class="announcement-bar">
    <div class="container">
        <div class="announcement-bar__wrapper">
            <ul>
                <li>
                    <a class="button-icon" href="#" target="_blank">
                        Twitter
                        {% render "icon-twitter" %}
                    </a>
                </li>

                <li>
                    <a class="button-icon" href="#" target="_blank">
                        Facebook
                        {% render "icon-facebook" %}
                    </a>
                </li>

                <li>
                    <a class="button-icon" href="#" target="_blank">
                        Youtube
                        {% render "icon-youtube" %}
                    </a>
                </li>

                <li>
                    <a class="button-icon" href="#" target="_blank">
                        Instagram
                        {% render "icon-instagram" %}
                    </a>
                </li>

                <li>
                    <a class="button-icon" href="#">
                        email
                        {% render "icon-email" %}
                    </a>
                </li>
            </ul>

            <p class="small-text">
                Due to the worker shortage please expect 1-2 day shipping delays for USPS Priority Mail and First Class
                Package Service
            </p>
        </div>
    </div>
</div>
