<div class="header-announcement">
    <div class="container">
        <ul>
            <li>
                <a href="https://twitter.com/getKalio" target="_blank">
                    <span>Twitter</span>
                    {% render "icon-twitter" %}
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/getkailo" target="_blank">
                    <span>Facebook</span>
                    {% render "icon-facebook" %}
                </a>
            </li>

            <li>
                <a href="https://www.youtube.com/channel/UC1n69oqoZn_Oj5NGIMxlLmQ" target="_blank">
                    <span>Youtube</span>
                    {% render "icon-youtube" %}
                </a>
            </li>

            <li>
                <a href="https://www.instagram.com/getkailo/" target="_blank">
                    <span>Instagram</span>
                    {% render "icon-instagram" %}
                </a>
            </li>

            <li>
                <a href="mailto:support@gokailo.com">
                    <span>mail</span>
                    {% render "icon-mail" %}
                </a>
            </li>
        </ul>

        <p class="small-text">
            Due to the worker shortage please expect 1-2 day shipping delays for USPS Priority Mail and First Class
            Package Service
        </p>
    </div>
</div>
