<style>
    .home-products {
        padding: 100px 0;
        color: var(--grays1);
        background-color: var(--grays6);
    }

    .home-products__header {
        margin: 0 0 40px;
        text-align: center;
        color: var(--primary5);
    }

    .home-products__header > *:not(:last-child) {
        margin: 0 0 24px;
    }

    .home-products__list {
        display: flex;
        justify-content: center;
    }

    .home-products__list > li {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 520px;
    }

    .home-products__list > li {
        padding: 0 48px;
    }

    .home-products__list > li:not(:last-child) {
        border-right: 1px solid var(--grays4);
    }

    .home-products__list .button {
        margin: auto 0 0;
    }

    .home-products__sublist {
        flex-grow: 1;
        margin: 32px 0;
        color: var(--primary2);
        text-align: center;
        border-bottom: 1px solid var(--grays4);
    }

    .home-products__sublist > li {
        margin: 0 0 24px;
    }

    .home-products__info {
        text-align: center;
    }

    .home-products__info > *:not(:last-child) {
        margin: 0 0 8px;
    }
</style>

<section class="home-products">
    <div class="container">
        <div class="home-products__header">
            <h2 class="h2-title">WHICH KAILO IS RIGHT FOR YOU?</h2>
            <p>KAILO OR KAILO FLEX</p>
        </div>

        <ul class="home-products__list">
            <li>
                <div class="home-products__item">
                    <img src="{{ "home-products-1.png" | asset_url }}" alt="">

                    <div class="home-products__info">
                        <h3 class="h6-title">Kailo™ Original</h3>
                        <span><b>$119.00</b></span>
                    </div>
                </div>

                <ul class="home-products__sublist">
                    <li class="h6-title">1 YEAR USAGE</li>
                    <li class="h6-title">DURABLE MULTI-LAYERED construction</li>
                    <li class="h6-title">EFFECTIVE FOR ANY PAIN SYMPTOM</li>
                    <li class="h6-title">90-DAY MONEY-BACK GUARANTEE (no restrictions)</li>
                    <li class="h6-title">$119.00 / ea</li>
                </ul>

                <a href="#" class="button button--primary">learn more</a>
            </li>

            <li>
                <img src="{{ "home-products-2.png" | asset_url }}" alt="">

                <div class="home-products__info">
                    <h3 class="h6-title">Kailo™ Original</h3>
                    <span><b>$49.00 - or $24.99/month</b></span>
                </div>

                <ul class="home-products__sublist">
                    <li class="h6-title">1 month USAGE</li>
                    <li class="h6-title">DYNAMIC FLEX SINGLE-LAYERED CONSTRUCTION</li>
                    <li class="h6-title">EFFECTIVE FOR ANY PAIN SYMPTOM</li>
                    <li class="h6-title">NO WARRANTY</li>
                    <li class="h6-title">$49.00 / ea</li>
                </ul>

                <a href="#" class="button button--primary">learn more</a>
            </li>
        </ul>
    </div>
</section>
