<style>
    .home-testimonials {
        padding: 80px 0;
        color: var(--grays6);
        background-color: var(--primary4);
    }

    .home-testimonials__wrapper {
        display: flex;
        align-items: center;
        margin: 0 0 0 -16px;
    }

    .home-testimonials__wrapper > * {
        width: 50%;
        margin: 0 0 0 16px;
    }

    .home-testimonials__interviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-testimonials__interviews .button {
        margin: 24px 0 0;
    }

    .home-testimonials__interviews > div {
        max-width: 330px;
        width: 100%;
        margin: 0 auto;
    }

    .home-testimonials__swiper {
        overflow: hidden;
    }

    .home-testimonials__swiper .swiper-pagination {
        margin: 64px 0 0;
    }

    .home-testimonials__swiper svg {
        margin: 0 0 56px;
    }

    .home-testimonials__swiper h3 {
        margin: 0 0 24px;
    }

    .home-testimonials__swiper blockquote {
        margin: 0 0 24px;
    }

    .home-testimonials__author {
        display: flex;
    }

    .home-testimonials__author img {
        width: 48px;
        height: 48px;
        margin: 0 16px 0 0;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .home-testimonials__author figcaption {
        display: flex;
        flex-direction: column;
    }
</style>

<section class="home-testimonials">
    <div class="container">
        <div class="home-testimonials__wrapper">
            <div>
                <div class="home-testimonials__swiper">
                    <div class="swiper-wrapper">
                        <figure class="swiper-slide">
                            <blockquote>
                                {% render "icon-quote" %}

                                <h3 class="h2-title">THIS THING REALLY WORKS</h3>

                                <p>
                                    "I had lung surgery 5 years ago and have been in pain every day since (nerve damage
                                    they say). I've tried physical therapy, acupuncture, cryotherapy, several nerve
                                    pills but the only thing up until Kailo that helped cut the pain was Oxy. I've been
                                    wearing two Kailo patches now for about 2 months and haven't taken a pain pill the
                                    entire time. THANK YOU KAILO!"
                                </p>
                            </blockquote>

                            <div class="home-testimonials__author">
                                <img src="{{ "home-testimonials.jpg" | asset_url }}" width="48" height="48" alt="Cary">

                                <figcaption>
                                    <span class="h6-title">Cary P.</span>
                                    <span class="caption-text">California</span>
                                </figcaption>
                            </div>
                        </figure>

                        <figure class="swiper-slide">
                            <blockquote>
                                {% render "icon-quote" %}

                                <h3 class="h2-title">FINALLY SOME RELIEF. IT WORKS.</h3>

                                <p>
                                    "I am a skeptic! It has gotten worse with age, but I have always been that way. I am
                                    no stranger to pain. I was accident-prone as a child. Breaking, twisting and
                                    rupturing. At 17, I was hit head on by a drunk driver, changing my life. I got to go
                                    try Kailo before buying it...Guess what?!?! IT WORKED!!!! It took a little while to
                                    figure out where to best place it. But then.... RELIEF!...Finally some RELIEF. It
                                    WORKS. It's weird, I know."
                                </p>
                            </blockquote>

                            <div class="home-testimonials__author">
                                <img src="{{ "home-testimonials.jpg" | asset_url }}" width="48" height="48" alt="Liza">

                                <figcaption>
                                    <span class="h6-title">Liza B.</span>
                                    <span class="caption-text">Utah</span>
                                </figcaption>
                            </div>
                        </figure>

                        <figure class="swiper-slide">
                            <blockquote>
                                {% render "icon-quote" %}

                                <h3 class="h2-title">IT IS SIMPLY MIRACULOUS!</h3>

                                <p>
                                    "Living with pain for an extended amount of time, not getting results from doctors
                                    visits and tests, it became very frustrating. We have found it to help with
                                    headaches, cramps, back pain and neck pain. It has helped my friends and family with
                                    hip pain and knee pain and even worked to make the pain of passing a kidney stone
                                    tolerable. It works...It is simply miraculous."
                                </p>
                            </blockquote>

                            <div class="home-testimonials__author">
                                <img src="{{ "home-testimonials.jpg" | asset_url }}" width="48" height="48" alt="Melody">

                                <figcaption>
                                    <span class="h6-title">Melody S.</span>
                                    <span class="caption-text">Utah</span>
                                </figcaption>
                            </div>
                        </figure>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="home-testimonials__interviews">
                <div>
                    {% render "vimeo-image", link: "https://vimeo.com/644391532", img: "home-testimonials.gif", width: 330, height: 186, alt: "testimonial interviews" %}
                    <a class="button button--primary" href="#">read testimonials</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module">
    const swiper = new Swiper('.home-testimonials__swiper', {
        slidesPerView: 1,
        spaceBetween: 32,

        autoHeight: true,

        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
