<div class="content">
  {% if section.settings.footer-logo %}<img class="footer-logo" src="{{ section.settings.footer-logo | img_url: 'master' }}" /><br><br>{% endif %}
  {% assign footer_menu = section.settings.footer-menu %}
  {% for link in linklists[footer_menu].links %}
    <a class="landing-footer-link" href="{{ link.url }}">{{ link.title }}</a>{% unless forloop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endunless %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer-logo",
        "label": "Footer Logo"
      },
      {
         "type": "link_list",
         "id": "footer-menu",
         "label": "Footer Menu"
      }
	]
  }
{% endschema %}