<style>
  /* landing products */
  .landing-product-header {
   	padding:3rem 0 1rem 0; 
    text-align:center;
  }
  .landing-product-header h1 {
   	margin:0;
  }
  .landing-products {
   	padding: 0em 2em 5em 2em;
    background-color: #efefef;
  }
  .landing-products .wrapper {
    text-align:center;
   	display:flex; 
  }
  .landing-products .buy-anchor {
   	margin-top:5em; 
  }
  .landing-product-title {
    font-size: 1.3em;
    font-weight: 600;
  }
  .landing-product-title span {
   	font-weight: 400; 
  }
  .landing-product-price {
    font-size: 1.1em;
    font-weight:bold;
  }
  .landing-product-sale {
    font-size:1.5em;
   	text-decoration: line-through;
  }
  .landing-product-save {
    font-size:1.1em;
    font-weight:bold;
    color:#4fae57;
  }
  .landing-product-save.featured {
    color: #de0f0e;
  }
  .landing-product-ship {
    width: auto;
    padding: 1rem 3.5rem 1rem 0;
	font-weight: bold;
    background-image: url(https://cdn.shopify.com/s/files/1/0121/1537/8238/files/lp-free-shipping-icon-black-2.png?v=1589398139);
    background-repeat: no-repeat;
    background-size: 3rem auto;
    background-position: right center;
  }
  .landing-product-ship:after {
   	height:100%;
    width:auto;
    background-image:url("https://cdn.shopify.com/s/files/1/0121/1537/8238/files/lp-free-shipping-icon-black-2.png?v=1589398139");
  }
  button.landing-product-add, button.landing-product-add span {
   	font-size: 1em; 
  }
  .product-link {
    display:block;
  	flex:1;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    margin: 2rem 0;
    padding: 1.5rem 1rem;
    position:relative;
    overflow:hidden;
  }
  .product-link.popular {
   	margin:1rem 0; 
    background-color:#99d2e1;
    padding:2.5rem 1rem;
    box-shadow: 0 1px 22px 0px rgba(0,0,0,0.4);
    z-index: 9;
    border:solid 1px #aaa;
  }
  .product-link:hover {
    color: #000;
  }
  .corner-ribbon {
    width: 200px;
    background: #b88649;
    position: absolute;
    top: 25px;
    right: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .popular .corner-ribbon {
   	background:#FF8021; 
  }
  .white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 1200px;
    margin: 20px auto;
  }
  .popup-inner{
	display:flex;
  }
  .popup-inner > div{
	flex:100%;
  }
  .special {
	display:block;
    text-align:center;
    width:85%;
  }
  .rate {
	text-align:center;
	margin: -0.5em 0;
  }
  .number {
	font-size:6em;
    font-weight:600;
  }
  .percent {
	position: relative;
    top: -0.5em;
    font-size: 3.5em;
    font-weight:600;
  }
  .off {
    position: relative;
    left: -2.3em;
    font-size: 1.5em;
    font-weight: 600;
  }
  .special-image {
    width:85%;
  }
  .act-now {
    display:block;
    font-size:1.2em;
	font-weight:600;
    text-align:center;
  }
  .offer {
	display:block;
    font-size:2.2em;
    font-weight:600;
    text-align:center;
    color: #ff6b01;
  }
  .original-price {
	display:block;
    text-align:center;
	text-decoration: line-through;
    color:red;
  }
  .new-price {
	display:block;
    text-align:center;
  }
  .yes-bundle {
    margin: 2em 0 1em 0;
	text-align:center;
  }
  .no-thanks {
	display:block;
    text-align:center;
  }
  .no-thanks a {
	color:#343434;
    text-decoration:underline;
    cursor:pointer;
  }
  @media (max-width: 500px) {
    .landing-products .wrapper {display:block;}
  }
</style>
<div class="landing-product-header">
  <h1 class="landing-title">The Pain Relief You've Been Waiting For</h1>
  <span class="landing-product-title"><span>Bundles are individually packaged &amp; now on sale!</span></span>
</div>
<div class="wrapper">
  <a class="buy-anchor" name="buy"></a>
  <a href="#bundle-1" class="inline-popup product-link">
  <div>
    <span class="landing-product-title">1 <span>- Kailo&trade; Bundle</span></span><br><br>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-b1-01.jpg?v=1588874206" /><br><br>
    <strong>Includes:</strong><br>
    - 1 Reusable Kailo<br>
    - 3 Free Adhesives<br>
    - 1 Free Soft Carrying Case<br><br>
    <span class="landing-product-sale">Retail $120.00</span><br>
    <span class="landing-product-price">Now Only $99.00</span><br>
    <span class="landing-product-save">You Save $21!</span><br><br>
    <span class="landing-product-ship">FREE USA Shipping</span><br><br>
    <button class="landing-product-add"><span>ORDER NOW</span></button>
  </div>
  </a>
  <a href="#bundle-2" class="inline-popup product-link popular">
  <div class="corner-ribbon">Most Popular</div>
  <div>
    <span class="landing-product-title">3 <span>- Kailo&trade; Bundles</span></span><br><br>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-b2-02.jpg?v=1589396717" /><br><br>
    <span class="landing-product-title">Buy 2, Get 1 FREE</span><br><br>
    <strong>Includes:</strong><br>
    - 3 Reusable Kailo<br>
    - 9 Free Adhesives<br>
    - 3 Free Soft Carrying Case<br><br>
    <span class="landing-product-price">$66/each (Total $198)</span><br>
    <span class="landing-product-save featured">You Save $162!</span><br><br>
    <span class="landing-product-ship">FREE USA Shipping</span><br><br>
    <button class="landing-product-add"><span>ORDER NOW</span></button>
  </div>
  </a>
  <a href="#bundle-5" class="inline-popup product-link">
  <div class="corner-ribbon">Best Deal</div>
  <div>
    <span class="landing-product-title">5 <span>- Kailo&trade; Bundles</span></span><br><br>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-b3-01.jpg?v=1588874206" /><br><br>
    <span class="landing-product-title">Buy 3, get 2 FREE</span><br><br>
    <strong>Includes:</strong><br>
    - 5 Reusable Kailo<br>
    - 15 Free Adhesives<br>
    - 5 Free Soft Carrying Case<br><br>
    <span class="landing-product-price">$59.40/each (Total $297)</span><br>
    <span class="landing-product-save">You Save $303!</span><br><br>
    <span class="landing-product-ship">FREE USA Shipping</span><br><br>
    <button class="landing-product-add"><span>ORDER NOW</span></button>
  </div>
  </a>
</div>
<div id="bundle-1" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('20859020836926','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('20859020836926','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>
<div id="bundle-2" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('32144334553219','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('32144334553219','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>
<div id="bundle-5" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('30475675959427','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('30475675959427','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>
<script type="text/javascript">
function bundle(product_id, bundle) {	
  
    if(bundle == 'true') {
        jQuery.ajax({
          type: "POST",
          url: '/cart/add.js',
          data: {
              quantity: 1,
              id: 32251489255555
            },
          async: false
        });
    }

    jQuery.ajax({
      type: "POST",
      url: '/cart/add.js',
      data: {
        quantity: 1,
        id: product_id
      },
      async: false
    });
  
  	location.href='/cart';
};
</script>
{% schema %}
  {
    "name": "Products",
    "settings": []
  }
{% endschema %}

{% javascript %}
$('.inline-popup').magnificPopup({
  type:'inline',
  midClick: true
});
{% endjavascript %}
