<div class="landing-banner">
  {%comment%}<img class="lazyload" src="{{ section.settings.banner-image | img_url: 'master' }}" />{%endcomment%}
  
<img
 srcset="
  https://cdn.shopify.com/s/files/1/0121/1537/8238/files/Kailo-Landing-Banner-mobile.jpg?v=1650494260 600w,
  https://cdn.shopify.com/s/files/1/0121/1537/8238/files/Kailo-Landing-Banner-opt.jpg?v=1650493706 1000w,
 "
 src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/Kailo-Landing-Banner-opt.jpg?v=1650493706" alt="The Microtechnology Patch"
>   
  
  <div class="wrapper">
    <h1>{{ section.settings.banner-heading }}</h1>
  </div>
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
         "type": "text",
         "id": "banner-heading",
         "label": "Banner Heading"
      },
      {
        "type": "image_picker",
        "id": "banner-image",
        "label": "Banner Image",
		"info": "1920px wide recommended"
      }
	]
  }
{% endschema %}