<style>
    .popup-button{
        background: linear-gradient(to bottom,#f3ce75 0,#edb52f 100%) !important;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 0 0 1px;
        border: solid 1px #c2ac72;
        border-radius: 10px;
        color: #fff;
        padding: 0.7em 0px;
        font-size: 1.2em;
        font-weight: 600;
        margin: 20px auto;
        width:fit-content;
        padding: 15px !important;
        border: solid 1px #c2ac72;
        display:block;
    }
    .popup-button span{
        border-radius: 10px;
        color: #000;
        padding: 0.8em 1.2em;
        font-weight: 700;
        font-size: 1.1em;
    }
    .popup-button:hover{
        cursor: pointer;
    }
  	.hidden {
     	display:none; 
    }
</style>
<div class="wrapper">
  <a class="buy-anchor" name="buy"></a>

  <a href="#bundle-1" class="inline-popup product-link">
  <!--<a onclick="bundle('34127408169091','false')" class="product-link">-->
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-1-bundle-opt.jpg?v=1650570809" /><br><br> 
    <span class="landing-product-title">1 Kailo&trade; Bundle<br><br></span>&nbsp;
    Includes:<br><br>
    - 1 Reusable Kailo<br>
    - 3 Free Adhesives<br>
    - 1 Free Soft Carrying Case<br><br>
    --<br><br>
    <span class="landing-product-price">Now Only<br>$83.30</span><br>
    <span class="landing-product-sale">$119</span><br>
    <span class="landing-product-saving">(Save 30%)</span><br><br>
    FREE SHIPPING<br><br>
    <button data-id="34127408169091" class="landing-product-add"><span>ADD TO CART</span></button>
  </div>
  </a>
  <a href="#bundle-1" class="inline-popup product-link">
     <!--<a onclick="bundle('39674296500355','false')" class="product-link">-->
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-2-bundle-opt.jpg?v=1650570809" /><br><br>
    <span class="landing-product-title">2 Kailo&trade; Bundles</span><br><br>
    Includes:<br><br>
    - 2 Reusable Kailo<br>
    - 6 Free Adhesives<br>
    - 2 Free Soft Carrying Cases<br><br>
    --<br><br>
    <span class="landing-product-price">$83.30/each<br>(Total $166.60)</span><br>
    <span class="landing-product-sale">$238</span><br>
    <span class="landing-product-saving">(Save 30%)</span><br><br>
    FREE SHIPPING<br><br>
    <button data-id="39674296500355" class="landing-product-add"><span>ADD TO CART</span></button>
  </div>
  </a>
</div>
<div class="wrapper">
 <a href="#bundle-1" class="inline-popup product-link">
   <!--<a onclick="bundle('34306690809987','false')" class="product-link">-->
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/Kailo-LandingPage-3Kailo-opt.jpg?v=1650570809" /><br><br>
    <span class="landing-product-title">3 Kailo&trade; Bundles</span><br><br>
    Includes:<br><br>
    - 3 Reusable Kailo<br>
    - 9 Free Adhesives<br>
    - 3 Free Soft Carrying Cases<br><br>
    --<br><br>
    <span class="landing-product-price">$83.30/each<br>(Total $249.90)</span><br>
    <span class="landing-product-sale">$357</span><br>
    <span class="landing-product-saving">(Save 30%)</span><br><br>
    FREE SHIPPING<br><br>
    <button data-id="34306690809987" class="landing-product-add"><span>ADD TO CART</span></button>
  </div>
  </a>

  <a href="#bundle-1" class="inline-popup product-link">
   <!--<a onclick="bundle('34306695659651','false')" class="product-link">-->
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-5-bundle-opt.jpg?v=1650570809" /><br><br>
    <span class="landing-product-title">5 Kailo&trade; Bundles</span><br><br>
    Includes:<br><br>
    - 5 Reusable Kailo<br>
    - 15 Free Adhesives<br>
    - 5 Free Soft Carrying Cases<br><br>
    --<br><br>
    <span class="landing-product-price">$83.30/each<br>(Total $416.50)</span><br>
    <span class="landing-product-sale">$595</span><br>
    <span class="landing-product-saving">(Save 30%)</span><br><br>
    FREE SHIPPING<br><br>
    <button data-id="34306695659651" class="landing-product-add"><span>ADD TO CART</span></button>
  </div>
  </a>  
  
</div>

<div id="bundle-1" class="white-popup mfp-hide">
  <div class="popup-inner">
    <div>
      <span class="special">Special Offer!</span>
      <div class="rate">
        <span class="number toggle-me">45</span>
        <span class="number toggle-me hidden">60</span>
        <span class="percent">%</span>
        <span class="off">OFF</span>
      </div>
      <img class="special-image lazyload toggle-me" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-b1-01_0bd95b4e-2f90-4e71-82c1-0e17776dd16a.jpg?v=1651516940" width="250" />
      <img class="special-image lazyload toggle-me hidden" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/kailo-pain-relief-adheasive-kt-tape-roll-set_720x.jpg?v=1626439236" width="250" />
    </div>
    <div>
      <span class="act-now">Act Now and Get...</span>
      <span class="offer toggle-me">Kailo bundle for 45% OFF!</span>
      <span class="offer toggle-me hidden">Kailo KT Tape Roll - 60% OFF!</span>
      <br><span class="original-price">$119 Value</span>
      <span class="new-price">Special Add-on Price = $65.45!</span>
      <div class="yes-bundle">
        <a class="popup-button toggle-me" data-id="place-holder" data-bundle="32251489255555" style="font-size:1em;">
          <span>Yes, Get My 45% Saving</span>
        </a>
        <a class="popup-button toggle-me hidden" data-id="place-holder" data-bundle="32217170608259" data-discount="discount60" style="font-size:1em;">
          <span>Yes, Get My 60% Saving</span>
        </a>
      </div>
      <div class="no-thanks"><a data-id="place-holder" data-bundle="false">No Thank You</a></div>
    </div>
  </div>
</div>

<div id="bundle-2" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('39674296500355','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('39674296500355','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>
<div id="bundle-3" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('34306690809987','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('34306690809987','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>

<div id="bundle-5" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('34306695659651','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('34306695659651','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>
<script type="text/javascript">


  //Things
    const mainProducts = document.querySelectorAll('.inline-popup .landing-product-add');
    const popupActions = document.querySelectorAll('[data-bundle]');
    const popup = document.querySelector('#bundle-1');
//Data

const producstArray = [];
  let selectedProductId = false;
//Functions
    function createDefaultProductArrayItem(e){
        selectedProductId = this.dataset.id;
        producstArray[this.dataset.id] = {};
        producstArray[this.dataset.id].items = [
            {
                id: this.dataset.id,
                quantity: 1
            }
        ] 
    }

  function buildProductObject(e){

      if(this.dataset.discount != 'discount60'){
        const toggleElements = this.closest('.popup-inner').querySelectorAll('.toggle-me');
        toggleElements.forEach(element => {
            element.classList.toggle('hidden');
        });
      }
      

    if(this.dataset.bundle != 'false'){
      const bundleProduct = {
        id: this.dataset.bundle,
        quantity: 1,
        properties: {
          '_discount': this.dataset.discount ? this.dataset.discount : ''
        }
      }
      producstArray[selectedProductId].items.push(bundleProduct);
    }else{
        producstArray[selectedProductId].items.push(null);
    }
    if(producstArray[selectedProductId].items.length == 3){
      addAllItems(producstArray[selectedProductId], e);
    }
  }

  function addAllItems(data, e) {
      console.log(data);
    e.target.closest('.mfp-content').querySelector('.mfp-close').click();
    fetch('/cart/add.js', {
      body: JSON.stringify(data),
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json',
        'X-Requested-With':'xmlhttprequest'
      },
      method: 'POST'
    }).then((response) => {
      return response.json();
    }).then((json) => {
      /* yay! our products were added - do something here to indicate to the user */
      location.href='/cart';
    }).catch((err) => {
      /* uh oh, we have error. */
      console.error(err)
    });
  }
//Events
mainProducts.forEach(mainProduct => {
    mainProduct.addEventListener('click', createDefaultProductArrayItem);
});
  popupActions.forEach(close => {
    close.addEventListener('click', buildProductObject);
  });
//Actions

//Tests
</script>

{% schema %}
  {
    "name": "Products",
    "settings": []
  }
{% endschema %}

{% javascript %}
$('.inline-popup').magnificPopup({
  type:'inline',
  midClick: true
});
{% endjavascript %}
