<style>
    .page-suggestions {
        padding: 40px 0 80px;
    }

    .page-suggestions .container {
        --container-width: 950px;
    }

    .page-suggestions__title {
        margin: 0 0 24px;
        color: var(--primary5);
    }

    .page-suggestions iframe {
        width: 100%;
    }
</style>

{{ "accordion.css" | asset_url | stylesheet_tag }}

<section class="page-suggestions">
    <div class="container">
        <h4 class="h4-title page-suggestions__title title-decorator">
            The following videos are offered as placement suggestions for both the original Kailo and the Kailo Flex™.
        </h4>

        <ul>
            <li>
                <div class="accordion accordion--secondary accordion--big">
                    <button class="accordion__header">
                        <p class="h4-title accordion__title">How Does the Kailo Work?</p>
                        <span class="accordion__icon"></span>
                    </button>

                    <div class="accordion__body">
                        Kailo is made with a patented technology that is being developed for use in high-tech
                        applications like antennas, signal transmission, bio-identification, and energy
                        storage. Kailo has been developed with the same technology and is designed to boost the
                        natural signals of the body and help the brain communicate with disrupted areas more
                        effectively.

                        <iframe title="Kailo-PlacementVideos-HeadV2-1080P" src="https://player.vimeo.com/video/718286612?h=da79498663&amp;dnt=1&amp;app_id=122963" width="1080" height="608" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="opacity: 1; visibility: visible;"></iframe>
                    </div>
                </div>
            </li>

            <li>
                <div class="accordion accordion--secondary accordion--big">
                    <button class="accordion__header">
                        <p class="h4-title accordion__title">How Does the Kailo Work?</p>
                        <span class="accordion__icon"></span>
                    </button>

                    <div class="accordion__body">
                        Kailo is made with a patented technology that is being developed for use in high-tech
                        applications like antennas, signal transmission, bio-identification, and energy
                        storage. Kailo has been developed with the same technology and is designed to boost the
                        natural signals of the body and help the brain communicate with disrupted areas more
                        effectively.

                        <iframe title="Kailo-PlacementVideos-HeadV2-1080P" src="https://player.vimeo.com/video/718286612?h=da79498663&amp;dnt=1&amp;app_id=122963" width="1080" height="608" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="opacity: 1; visibility: visible;"></iframe>
                    </div>
                </div>
            </li>

            <li>
                <div class="accordion accordion--secondary accordion--big">
                    <button class="accordion__header">
                        <p class="h4-title accordion__title">How Does the Kailo Work?</p>
                        <span class="accordion__icon"></span>
                    </button>

                    <div class="accordion__body">
                        Kailo is made with a patented technology that is being developed for use in high-tech
                        applications like antennas, signal transmission, bio-identification, and energy
                        storage. Kailo has been developed with the same technology and is designed to boost the
                        natural signals of the body and help the brain communicate with disrupted areas more
                        effectively.

                        <iframe title="Kailo-PlacementVideos-HeadV2-1080P" src="https://player.vimeo.com/video/718286612?h=da79498663&amp;dnt=1&amp;app_id=122963" width="1080" height="608" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="opacity: 1; visibility: visible;"></iframe>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
