<style>
    .page-faqs {
        padding: 80px 0 100px;
    }

    .page-faqs__title {
        margin: 0 0 16px;
        color: var(--primary5);
    }

    .page-faqs__wrapper {
        display: flex;
        align-items: flex-start;
        margin: 0 0 0 -40px;
    }

    .page-faqs__block {
        width: 33.33%;
        margin: 0 0 0 40px;
    }
</style>

{{ "accordion.css" | asset_url | stylesheet_tag }}

<section class="page-faqs">
    <div class="container">
        <div class="page-faqs__wrapper">
            <div class="page-faqs__block">
                <h5 class="h5-title page-faqs__title">How Does the Kailo Work?</h5>

                <ul>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="page-faqs__block">
                <h5 class="h5-title page-faqs__title">How Does the Kailo Work?</h5>

                <ul>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="page-faqs__block">
                <h5 class="h5-title page-faqs__title">How Does the Kailo Work?</h5>

                <ul>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion accordion--secondary">
                            <button class="accordion__header">
                                <p class="accordion__title">How Does the Kailo Work?</p>
                                <span class="accordion__icon"></span>
                            </button>

                            <div class="accordion__body">
                                Kailo is made with a patented technology that is being developed for use in high-tech
                                applications like antennas, signal transmission, bio-identification, and energy
                                storage. Kailo has been developed with the same technology and is designed to boost the
                                natural signals of the body and help the brain communicate with disrupted areas more
                                effectively.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
