<style>
    .page-apply {
        padding: 100px 0;
        background-color: var(--grays5);
    }

    .page-apply__title {
        margin: 0 0 24px;
        color: var(--primary5);
    }

    .page-apply iframe {
        width: 100%;
    }
</style>

<section class="page-apply">
    <div class="container">
        <h4 class="h4-title page-apply__title title-decorator">HOW TO APPLY THE KAILO ADHESIVE</h4>

        <iframe title="Kailo Adhesive Placement"
                src="https://player.vimeo.com/video/644456317?h=f11b9f584d&amp;dnt=1&amp;app_id=122963" width="1080"
                height="608" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""
                style="opacity: 1; visibility: visible;"></iframe>
    </div>
</section>
