<style>
    .page-science__header {
        max-width: 620px;
        margin: 0 auto;
        padding: 80px 0 60px;
        text-align: center;
    }

    .page-science__title {
        margin: 0 0 24px;
        color: var(--primary5);
    }

    .page-science__subtitle {
        color: var(--primary1);
        text-align: center;
    }

    .page-science img {
        width: 100%;
    }
</style>

<section class="page-science">
    <div class="page-science__header">
        <h2 class="h2-title title-decorator page-science__title">THE SCIENCE BEHIND KAILO</h2>

        <p>
            Kailo technology is a uniquely organized sheet of capacitors. Capacitors are electrical components used by
            radios and computers to manage and transmit data. Kailo capacitors assist the axons of your nervous system
            to manage and transmit the signals of your body.
        </p>
    </div>

    <h4 class="h4-title page-science__subtitle">THE KAILO AND THE AXON</h4>
    <img src="{{ "page-science.png" | asset_url }}" alt="">
</section>
