<style>
    .page-tabs {
        padding: 80px 0 40px;
    }

    .page-tabs .container {
        --container-width: 950px;
    }

    .page-tabs__info {
        display: none;
    }

    .page-tabs__info.active {
        display: block;
    }

    .page-tabs__header {
        display: flex;
        margin: 0 0 40px;
    }

    .page-tabs__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33%;
        padding: 16px 40px;
        background-color: transparent;
        border: none;
        box-shadow: inset 0 -1px 0 0 var(--grays4);
        color: inherit;
        cursor: pointer;
        transition: color 0.15s linear, box-shadow 0.15s linear;
    }

    .page-tabs__button.active {
        box-shadow: inset 0 -2px 0 0 var(--primary1);
    }

    .page-tabs__button:hover,
    .page-tabs__button:focus {
        color: var(--grays1);
    }

    .page-tabs__button svg {
        margin: 0 6px 0 0;
    }

    .page-tabs__button path {
        stroke: currentColor;
        transition: color 0.15s linear;
    }
</style>

<section class="page-tabs">
    <div class="container">
        <div class="page-tabs__header">
            <button data-active="1" class="h6-title page-tabs__button">
                {% render "icon-info" %}
                overview
            </button>

            <button class="h6-title page-tabs__button">
                {% render "icon-placement" %}
                general placement
            </button>

            <button class="h6-title page-tabs__button">
                {% render "icon-search-plus" %}
                site specific pain
            </button>
        </div>

        <div class="page-tabs__body">
            <div class="page-tabs__info">
                <p>
                    Proper Kailo patch placement is your drug-free solution to relieve pain in seconds. If you have
                    received your Kailo patch in the mail and are ready to outsmart your pain, heard about Kailo and
                    want to learn how and where to place it on your body for best results or are struggling to find the
                    perfect placement location for fast relief, then this Kailo placement guide will share everything
                    you need to know to say goodbye to pain and get back in the game of life.
                </p>
            </div>

            <div class="page-tabs__info">
                <p>
                    The Kailo pain patch is easy to use, water-proof, reusable, and relies on millions of
                    micro-capacitors designed to act as bio antennas to clarify and enhance the communication between
                    the brain and the location of pain. With hundreds of thousands of Kailo patches sold, not one person
                    in our clinical trial reported harmful *side effects.
                </p>
            </div>

            <div class="page-tabs__info">
                <p>
                    With each part of the body being so unique, it’s important to get the placement of your Kailo right.
                    Please see the videos below for site specific pain. If there is a specific part of the body you are
                    experiencing pain, please feel free to contact us directly and a placement specialist will be happy
                    to assist you.
                </p>
            </div>
        </div>
    </div>
</section>

<script type="module">
    const tabs = document.querySelector(".page-tabs");
    const buttons = document.querySelectorAll(".page-tabs__button");
    const contentItems = document.querySelectorAll(".page-tabs__info");

    buttons.forEach((btn, index) => {
        const isActive = btn.dataset.active === "1";

        if (isActive) {
            btn.classList.add("active");
            contentItems[index].classList.add("active");
        }

       btn.addEventListener("click", () => {
           buttons.forEach(item => {
               item.classList.remove("active");
           });

           contentItems.forEach(item => {
               item.classList.remove("active");
           });

           btn.classList.add("active");
           contentItems[index].classList.add("active");
       });
    });
</script>
