<style>
    .page-refer {
        display: flex;
        background-color: var(--grays5);
    }

    .page-refer > * {
        width: 50%;
    }

    .page-refer__block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 80px;
    }

    .page-refer__block > * {
        max-width: 560px;
    }

    .page-refer__wrapper > *:not(:last-child) {
        margin: 0 0 24px;
    }

    .page-refer__image {
        background-image: url({{ "page-refer.png" | asset_url }});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .page-refer .caption-text {
        margin: 0 0 8px;
        color: var(--primary1);
    }

    .page-refer .title-decorator {
        color: var(--primary5);
        text-align: left;
    }

    .page-refer .title-decorator::before {
        left: 0;
        transform: none;
    }

    .page-refer__form {
        display: flex;
    }

    .page-refer__form .field-block {
        width: 100%;
        margin: 0 8px 0 0;
    }
</style>

<div class="page-refer">
    <div class="page-refer__block">
        <div>
            <span class="caption-text">refer a friend</span>

            <div class="page-refer__wrapper">
                <h2 class="h2-title title-decorator">Give $10, Get $10</h2>

                <p>
                    Give your friends $10 off on their first order of $80+ and get $10 (in points) for each successful
                    referral.
                </p>

                <div class="page-refer__form">
                    <div class="field-block">
                        <input type="email" placeholder="Email" name=""/>
                    </div>

                    <button type="submit" class="button button--primary">submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-refer__image"></div>
</div>
