<style>
    .page-clinical-results__wrapper {
        display: flex;
        align-items: center;
        margin: 0 0 0 -40px;
    }

    .page-clinical-results__wrapper > * {
        width: 50%;
        margin: 0 0 0 40px;
    }

    .page-clinical-results__info {
        padding: 80px 0;
    }

    .page-clinical-results .caption-text {
        color: var(--primary1);
    }

    .page-clinical-results__title {
        margin: 8px 0 0;
        color: var(--primary5);
    }

    .page-clinical-results__list {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 16px -24px;
    }

    .page-clinical-results__list > li {
        display: flex;
        width: calc(50% - 24px);
        margin: 0 0 24px 24px;
    }

    .page-clinical-results__list svg {
        min-width: 40px;
        width: 40px;
        margin: 0 8px 0 0;
    }
</style>

<section class="page-clinical-results">
    <div class="container">
        <div class="page-clinical-results__wrapper">
            <img src="{{ "page-clinical-results.png" | asset_url }}" alt="">

            <div class="page-clinical-results__info">
                <div class="caption-text">clinical trials</div>

                <h2 class="h2-title page-clinical-results__title">The Results Are In And They're Amazing</h2>

                <ul class="page-clinical-results__list">
                    <li>
                        {% render "icon-page-arrow" %}
                        <p>Significant decrease in pain severity with no side effects</p>
                    </li>

                    <li>
                        {% render "icon-page-smile" %}
                        <p>Significant improvement in mood, sleep, activity, and relationships.</p>
                    </li>

                    <li>
                        {% render "icon-page-user" %}
                        <p>Patient satisfaction for convenience and ease of use</p>
                    </li>

                    <li>
                        {% render "icon-page-leaf" %}
                        <p>Patients used a lot less concurrent oral medication.</p>
                    </li>
                </ul>

                <a class="button button--primary" href="#">view clinical results</a>
            </div>
        </div>
    </div>
</section>
