<style>
    .page-faq-small {
        padding: 80px 0;
        color: var(--grays6);
        background-color: var(--primary5);
    }

    .page-faq-small ul {
        margin: 24px 0 0;
    }
</style>

{{ "accordion.css" | asset_url | stylesheet_tag }}

<section class="page-faq-small">
    <div class="container">
        <h3 class="h3-title">FAQs</h3>

        <ul>
            <li>
                <div class="accordion">
                    <button class="accordion__header">
                        <h5 class="h5-title">How does the Kailo work?</h5>

                        <span class="button-icon">
                            {% render "icon-chevron" %}
                        </span>
                    </button>

                    <div class="accordion__body">
                        <p>
                            Kailo is made with a patented technology that is being developed for use in high-tech
                            applications like antennas, signal transmission, bio-identification, and energy storage.
                            Kailo has been developed with the same technology and is designed to boost the natural
                            signals of the body and help the brain communicate with disrupted areas more effectively.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="accordion">
                    <button class="accordion__header">
                        <h5 class="h5-title">How does the Kailo work?</h5>

                        <span class="button-icon">
                            {% render "icon-chevron" %}
                        </span>
                    </button>

                    <div class="accordion__body">
                        <p>
                            Kailo is made with a patented technology that is being developed for use in high-tech
                            applications like antennas, signal transmission, bio-identification, and energy storage.
                            Kailo has been developed with the same technology and is designed to boost the natural
                            signals of the body and help the brain communicate with disrupted areas more effectively.
                        </p>
                    </div>
                </div>
            </li>


            <li>
                <div class="accordion">
                    <button class="accordion__header">
                        <h5 class="h5-title">How does the Kailo work?</h5>

                        <span class="button-icon">
                            {% render "icon-chevron" %}
                        </span>
                    </button>

                    <div class="accordion__body">
                        <p>
                            Kailo is made with a patented technology that is being developed for use in high-tech
                            applications like antennas, signal transmission, bio-identification, and energy storage.
                            Kailo has been developed with the same technology and is designed to boost the natural
                            signals of the body and help the brain communicate with disrupted areas more effectively.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="accordion">
                    <button class="accordion__header">
                        <h5 class="h5-title">How does the Kailo work?</h5>

                        <span class="button-icon">
                            {% render "icon-chevron" %}
                        </span>
                    </button>

                    <div class="accordion__body">
                        <p>
                            Kailo is made with a patented technology that is being developed for use in high-tech
                            applications like antennas, signal transmission, bio-identification, and energy storage.
                            Kailo has been developed with the same technology and is designed to boost the natural
                            signals of the body and help the brain communicate with disrupted areas more effectively.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="accordion">
                    <button class="accordion__header">
                        <h5 class="h5-title">How does the Kailo work?</h5>

                        <span class="button-icon">
                            {% render "icon-chevron" %}
                        </span>
                    </button>

                    <div class="accordion__body">
                        <p>
                            Kailo is made with a patented technology that is being developed for use in high-tech
                            applications like antennas, signal transmission, bio-identification, and energy storage.
                            Kailo has been developed with the same technology and is designed to boost the natural
                            signals of the body and help the brain communicate with disrupted areas more effectively.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="accordion">
                    <button class="accordion__header">
                        <h5 class="h5-title">How does the Kailo work?</h5>

                        <span class="button-icon">
                            {% render "icon-chevron" %}
                        </span>
                    </button>

                    <div class="accordion__body">
                        <p>
                            Kailo is made with a patented technology that is being developed for use in high-tech
                            applications like antennas, signal transmission, bio-identification, and energy storage.
                            Kailo has been developed with the same technology and is designed to boost the natural
                            signals of the body and help the brain communicate with disrupted areas more effectively.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="accordion">
                    <button class="accordion__header">
                        <h5 class="h5-title">How does the Kailo work?</h5>

                        <span class="button-icon">
                            {% render "icon-chevron" %}
                        </span>
                    </button>

                    <div class="accordion__body">
                        <p>
                            Kailo is made with a patented technology that is being developed for use in high-tech
                            applications like antennas, signal transmission, bio-identification, and energy storage.
                            Kailo has been developed with the same technology and is designed to boost the natural
                            signals of the body and help the brain communicate with disrupted areas more effectively.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
