<style>
    .partner-inquiry {
        padding: 100px 0;
        background-color: var(--grays5);
    }

    .partner-inquiry .container {
        --container-width: 950px;
    }

    .partner-inquiry__block {
        padding: 40px;
        border-radius: 6px;
        background-color: var(--grays6);
    }

    @media screen and (max-width: 768px) {
        .partner-inquiry {
            padding: 60px 0;
        }

        .partner-inquiry__block {
            padding: 40px 16px;
        }
    }
</style>

<div class="partner-inquiry">
    <div class="container">
        <div class="partner-inquiry__block">
            <iframe height="1692" title="Embedded Wufoo Form" allowtransparency="true" frameborder="0" scrolling="no"
                    style="width:100%;border:none" src="https://gokailo.wufoo.com/embed/m1jdl2sq0ooloj6/"> &amp;amp;lt;a
                href="https://gokailo.wufoo.com/forms/m1jdl2sq0ooloj6/"&amp;amp;gt;Fill out my Wufoo form!&amp;amp;lt;/a&amp;amp;gt;
            </iframe>
        </div>
    </div>
</div>
