<style>
    .single-product {
        display: flex;
        overflow: hidden;
    }

    .single-product__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px;
        max-width: 520px;
        width: 100%;
        text-align: center;
    }

    .single-product__img {
        width: 100%;
        background-image: url({{ "page-solutions.png" | asset_url }});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    @media screen and (max-width: 768px) {
        .single-product {
            flex-direction: column;
        }

        .single-product__item {
            align-self: center;
            padding: 24px;
        }

        .single-product__img {
            height: 375px;
        }
    }
</style>

<div class="single-product">
    <div class="single-product__item">
        <img src="{{ "product-1.png" | asset_url }}" width="360" height="360" alt="">
        <p class="button-text">Kailo™ original</p>
        <span>$119.00</span>
    </div>

    <span class="single-product__img"></span>
</div>
