<div class="wrapper">
  <a class="buy-anchor" name="buy"></a>

  <a href="#bundle-1" class="inline-popup product-link">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-1-bundle.jpg?v=1581527483" /><br><br>
    <span class="landing-product-title">1 Kailo&trade; Bundle<br><br></span>&nbsp;
    Includes:<br><br>
    - 1 Reusable Kailo<br>
    - 3 Free Adhesives<br>
    - 1 Free Soft Carrying Case<br><br>
    --<br><br>
    <span class="landing-product-price">Now Only<br>$83.30</span><br>
    <span class="landing-product-sale">$119</span><br>
    <span class="landing-product-saving">(Save 30%)</span><br><br>
    FREE SHIPPING<br><br>
    <button class="landing-product-add"><span>ADD TO CART</span></button>
  </div>
  </a>
  <a href="#bundle-2" class="inline-popup product-link">
  <div>
    <!--<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-2-bundle.jpg?v=1581527488" /><br><br>-->
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-2-bundle.png?v=1645083899" /><br><br>
    <span class="landing-product-title">2 Kailo&trade; Bundles</span><br><br>
    Includes:<br><br>
    - 2 Reusable Kailo<br>
    - 6 Free Adhesives<br>
    - 2 Free Soft Carrying Cases<br><br>
    --<br><br>
    <span class="landing-product-price">$83.30/each<br>(Total $166.60)</span><br>
    <span class="landing-product-sale">$238</span><br>
    <span class="landing-product-saving">(Save 30%)</span><br><br>
    FREE SHIPPING<br><br>
    <button class="landing-product-add"><span>ADD TO CART</span></button>
  </div>
  </a>
</div>
<div class="wrapper">
 <a href="#bundle-3" class="inline-popup product-link">
  <div>
    <!--<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-2-bundle.jpg?v=1581527488" /><br><br>-->
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/Kailo-LandingPage-3Kailo.jpg?v=1584655696" /><br><br>
    <span class="landing-product-title">3 Kailo&trade; Bundles</span><br><br>
    Includes:<br><br>
    - 3 Reusable Kailo<br>
    - 9 Free Adhesives<br>
    - 3 Free Soft Carrying Cases<br><br>
    --<br><br>
    <span class="landing-product-price">$83.30/each<br>(Total $249.90)</span><br>
    <span class="landing-product-sale">$357</span><br>
    <span class="landing-product-saving">(Save 30%)</span><br><br>
    FREE SHIPPING<br><br>
    <button class="landing-product-add"><span>ADD TO CART</span></button>
  </div>
  </a>

  <a href="#bundle-5" class="inline-popup product-link">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-5-bundle.jpg?v=1581527494" /><br><br>
    <span class="landing-product-title">5 Kailo&trade; Bundles</span><br><br>
    Includes:<br><br>
    - 5 Reusable Kailo<br>
    - 15 Free Adhesives<br>
    - 5 Free Soft Carrying Cases<br><br>
    --<br><br>
    <span class="landing-product-price">$83.30/each<br>(Total $416.50)</span><br>
    <span class="landing-product-sale">$595</span><br>
    <span class="landing-product-saving">(Save 30%)</span><br><br>
    FREE SHIPPING<br><br>
    <button class="landing-product-add"><span>ADD TO CART</span></button>
  </div>
  </a>  
  
</div>
<div id="bundle-1" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('34127408169091','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('34127408169091','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>

<div id="bundle-2" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('39674296500355','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('39674296500355','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>
<div id="bundle-3" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('34306690809987','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('34306690809987','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>

<div id="bundle-5" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('34306695659651','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('34306695659651','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>
<script type="text/javascript">
function bundle(product_id, bundle) {	
  
    jQuery.ajax({
      type: "POST",
      url: '/cart/add.js',
      data: {
        quantity: 1,
        id: product_id
      },
      async: false
    });
  
    if(bundle == 'true') {
        jQuery.ajax({
          type: "POST",
          url: '/cart/add.js',
          data: {
              quantity: 1,
              id: 32251489255555
            },
          async: false
        });
    }
  
  	location.href='/cart';
};
</script>
{% schema %}
  {
    "name": "Products",
    "settings": []
  }
{% endschema %}

{% javascript %}
$('.inline-popup').magnificPopup({
  type:'inline',
  midClick: true
});
{% endjavascript %}
