.advantages-icons {
    padding: 48px 0;
    color: var(--grays6);
    background-color: var(--primary5);
}

.advantages-icons ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 -16px -16px;
}

.advantages-icons li {
    margin: 0 0 16px 16px;
    cursor: pointer;
    transition: transform 0.15s linear;
}

.advantages-icons li:hover {
    transform: scale(1.2);
}
