.catalog {
    color: var(--grays2);
    background-color: var(--grays5);
}

.catalog__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px;
}

.catalog__menu > *:not(:last-child) {
    margin: 0 16px 0 0;
}

.catalog__wrapper {
    padding: 40px 0 100px;
}

.catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.catalog__list form {
  height: 100%;
}

.catalog__list .single-product {
  height: 100%;
}


.catalog__collection {
    text-align: center;
}

.catalog__collection-img {
    overflow: hidden;
}

.catalog__collection:hover img {
    transform: scale(1.1);
}

.catalog__collection img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.15s linear;
}

.catalog__collection > *:not(:last-child) {
    margin: 0 0 16px;
}

.catalog__sort-by {
    display: flex;
    align-items: center;
}

.catalog__sort-by > *:not(:last-child) {
    margin: 0 32px 0 0;
}

.catalog__select {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.catalog__select select {
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
}

.catalog__select svg {
    transform: rotate(90deg);
}

@media screen and (max-width: 992px) {
      .catalog__list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
}

@media screen and (max-width: 768px) {
    .catalog__menu {
        margin: 0 0 16px;
    }

    .catalog__wrapper {
        padding: 16px 0 80px;
    }

    .catalog__list {
        grid-template-columns: 1fr 1fr;
    }

    .catalog__menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog__menu > *:not(:last-child) {
        margin: 0 0 16px;
    }

    .catalog__sort-by > *:not(:last-child) {
        margin: 0 0 16px;
    }

    .catalog__sort-by {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .catalog__list {
        grid-template-columns: 1fr;
    }
}

