.home-products {
    padding: 100px 0;
}

.home-products__header {
    margin: 0 0 40px;
    text-align: center;
    color: var(--primary5);
}

.home-products__header > *:not(:last-child) {
    margin: 0 0 24px;
}

.home-products__list {
    display: flex;
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
}

.home-products__list > li {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.home-products__list > li:nth-child(odd) {
    padding: 0 48px 0 0;
}

.home-products__list > li:nth-child(even) {
    border-left: 1px solid var(--grays4);
    padding: 0 0 0 48px;
}

.home-products__list .button {
    margin: auto 0 0;
}

.home-products__sublist {
    flex-grow: 1;
    margin: 32px 0;
    color: var(--primary2);
    text-align: center;
    border-bottom: 1px solid var(--grays4);
}

.home-products__sublist > li {
    margin: 0 0 24px;
}

.home-products__info {
    text-align: center;
}

.home-products__info > *:not(:last-child) {
    margin: 0 0 8px;
}
