.loader {
    position: relative;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0;
}

.loader.isLoading {
    display: flex;
}

.loader.dark::before {
    border-color: #000 transparent #000 transparent;
}

.loader.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.loader::before {
    content: "";
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff transparent #fff transparent;
    border-radius: 50%;
    animation: infinityRotate 1.2s linear infinite;
}

@keyframes infinityRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
