.play-video {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: inline-flex;
    padding: 20px;
    align-items: flex-start;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.40);
    transform: translate(-50%, -50%);
    transition: background 0.15s linear;
}

.play-video:hover {
    background-color: rgba(255, 255, 255, 0.60);
}

.popup-vimeo {
    position: relative;
    display: flex;
    overflow: hidden;
    font-size: 0;
}

.popup-vimeo img,
.popup-vimeo video {
    display: block;
    transition: transform 0.15s linear;
}

.popup-vimeo:hover img,
.popup-vimeo:hover video {
    transform: scale(1.05);
}
