{% comment %}
  The contents of the cartliquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% section 'cart-template' %}
<!--<div class="yotpo-widget-instance" data-yotpo-instance-id="65580"></div>-->