{% assign header_title = page.title %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins wrapper__article">
  <div class="rte">
    <script>
      let url = "https://gokailo.com/collections/all-pain-patches?utm_content=ewa321321dsad20sadsadasdewa321321dsad20sadsadasds21321dsas21321dsad221321dsad2a&utm_source=xc&utm_medium=xccampaign";
      window.location.href = url;
    </script>
  </div>
</div>

