{% render 'anchorToProducts' %}



<style>
  
  @font-face{
	font-display:swap;
	font-family:'FontAwesome';
	src:url('//cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/fontawesome-webfont.woff2?v=92687554370256573971632149975') format('woff2');
	font-weight:normal;
	font-style:normal
}
  .original-price.toggle-me.\32 ndoffer {
    margin-top: -15px;
}
  span.original-price.toggle-me {
    margin-top: -15px;
}
  @media only screen and (max-width: 500px){
  .special-image {
    width: 61%!important;
    margin-left: 18%;
}
  }
   .copyrights{
  text-align: center;
  color: #fffc;
  } 
  div#shopify-section-footer{
  display:none;
  }
  .wrapper {
    max-width:1300px;
  }
  .main-content {
    overflow:inherit;
  }
  .rate {
    font-size: 16px;
}

span.offer.toggle-me {
    font-size: 20px;
}
  div#shopify-section-header {
    display: none;
}
  
  h1 {
  	font-size: 2.5em; 
  }
  h3 {
  	font-size: 1.5em; 
  } 
  p {
 	font-size:1.3em;
  }
  section {
  margin-bottom:0px;
  }
  .colMobile img {
    width: 113px;
}
  .call-out-font-weight {
  	font-size:1.6em;
  }
  .kailo-landing, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
   	color:#333;
    font-weight:600 !important;
    line-height:normal;
  }
  .kailo-landing button, .yes-bundle button {
    background: #00c2c2!important;
    
   
    border:solid 1px #00c2c2;    
    border-radius:8px;
    color:#fff;
    padding:.7em 0.8em;
    font-size:1em;
    
    margin:20px 0px 60px 0px;
  }
  .productBtn {
     padding:.6em 30px !important;
}
   
  .kailo-landing button span, .yes-bundle button span {
  	
    
    color:#fff;
   
    font-size:1.1rem;
    
   
  }
  /* section 1 with video */
	.topMargin {
      padding-top:25px;
    }
  .col-main {
    flex: 1;  
  }  
  .col-adjacent {
    flex: 1;  
  }
  .right {
    text-align: right;
  }
  .featureIcons {
   background-color: #e3e1db;
    padding:20px 0px; 
    position:relative;
  }
  .featureIcons img {
    width:80%;
    margin:auto 0px;
  }  
  
  .col.col-adjacent p {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding-top:20px;
}
  
  .prinInvestigator {
   background:url("https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-nanotech-science-dr.jpg") no-repeat;
    background-size:100%;
    padding:0px 0px 0px;  
    vertical-align: bottom;
    height:100vh;
       
  } 
  .prinInvestigator .col-adjacent {
    padding:20px;
  
    width: 65%;
    flex: 1;
    text-align: justify;
  }
  .prinInvestigator img {
    vertical-align:bottom;
    width:40px;
  }
  .prinInvestigator .col-main {
    padding:0em;
    text-align:center;
  }
  section.prinInvestigator.mb-0 h2 {
    color: #0bbec0;
    text-align: left;
    font-weight: 700 !important;
}
  
  .center {
    text-align:center;
    padding:30px 15px 30px 15px;
  }
  
  
  
  
  /* Products */
  
  .pricing {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kailo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  width: 100%;
  background:#fff;
 border-radius:8px;
  /*box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.1);*/
  
 
  color:#000;
}

 
.mt-20{ margin-top:20px !important;}
  
.productImg_1bundle {
  width:75%;
  margin:0px auto;
}
  .productImg_3bundle {
  width:90%;
  margin:15px auto;
}
.productImg_5bundle {
  width:80% ;
  margin:15px auto;
}  

.kailo-card-heading {
  padding: 6px 10px;
  font-size: 18px;
  text-transform:uppercase;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.kailo-card-heading-free {
  
  color: #000;
  border-top-left-radius: 8px;
  border-top-right-radius:8px;  
}
  
  #offer .bundle-title{
  font-size: 1.25rem;
    color: #474747;
    padding-bottom: 4px;
}

  .kailo-card-heading-lite{
  letter-spacing:1px;
    background: #1d94aa;
   color:#fff;
    border:1px solid #fff;
    border-radius:7px;   
    text-align: center;
    -webkit-box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.3);
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);    
    z-index: 90;
  }

  #offer .bundle-container .promo-text{
  font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}


  
  }
  

.kailo-card-heading-lite {
  background-color:#e54b37;
  color: #fff;
 
}

.kailo-card-heading-pro {
  background-color:#00c2c2;
  color: #fff;
    border:1px solid #fff;
    border-radius:7px;   
    text-align: center;
    -webkit-box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.3);
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);    
 
}

.kailo-bundle-group {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.kailo-product-detail-item {
  position: relative;
}

.kailo-card-highlight {
  
}
.kailo-card-highlight .kailo-card-btn {
  border: none;
  color: #fff;
  background-color: #27264b;
}

.kailo-card-highlight .kailo-card-btn:hover {
  background-color: #9390db;
}

.kailo-card-price {
  text-align: center;
 font-size:20px;
  
  
  margin: 15px;
}
.sale {
 text-decoration: line-through;
    font-size: 1em;
    color: #1d94aa;
    

  }
  

.kailo-card-price-text {
  font-weight: 400;
  
}
.freeShipping { 
  width:70%;
  margin:20px auto;
  color:#5c5c5c;
  font-size:20px;
  font-weight:600;
}
  .white {
    color:#fff;
  }
  .light-green {
    color:#2aad51;
    font-weight:bold;
  }
  .bluish{ color:#1d94aa;}
  .bluish-1{ color: #4ab0c3;}
  .green {
    color:#387e24;
   font-weight: 700;
  }
 
  /* etc */
  .container {
    margin-right: auto;
    margin-left: auto;
  }
  .col {
    padding: 1em 0px;
    margin: 0 2px 2px 0;    
  }
  
  /* HIDE LIVE CHAT BUTTON IN LOWER RIGHT CORNER */  
  #launcher, button.u-userLauncherColor {
    display:none !important;
  }
  /* SLIDER */
  .kailo-content-slider .slick-dots{
  	display:flex !important;
    justify-content:center;
  }
  .kail-image-slider button.slick-arrow{
  	position: absolute;
    top: 50%;
    display:none !important;
  }
  
  
  
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    
    padding: 0;
    cursor: pointer;
}
  .ease_use .caption-heading span {
    background: #0bbec0;
    padding: 5px 20px;
}
  
  .image-container.m-0{ margin:0px !important;}

.slick-dots li button {
    font-size: 0;
  
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: "";
    font-size: 22px;
    border-radius: 10px;
    border: solid 1px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    text-align: center;
    color: #1d94aa;
}
  
  .pt-10{ padding-top:10px;}
  
 .slick-dots li.slick-active button:before {
    background-color:#1d94aa;
}
  
  .kailo-testimonial-slider .slick-dots li.slick-active button:before {
    background-color:#fff;
}
.footer {
  background-color:#5e5e5e;
  padding:0px;
}
  #shopify-section-content-video, #landing-video{
  	width:100%;
    height:100%;
  }
  #shopify-section-content-video iframe{
  	width:90%;
    height:90%;
  }
  #landing-video{
  	/* display: flex; */
    justify-content: end;
    align-items: flex-start;
  }

  
  /* Responsive: */
  @media only screen and (min-width: 640px) {
    .layout {
      display: flex;
    }
  
  .mobile {
    display:none;
   }
  
    
  }
  
  
  @media only screen and (max-width: 640px) {
    
     .kailo-landing button, .yes-bundle button {
    margin: 20px 20% !important;
   
}
  .call-out-font-weight {
  	font-size:1.2em;
   }
   .pricing {
   	display:initial;
   } 
	.topMargin {
      text-align:center;
    }
  .col-adjacent {
    text-align:center;
    width:100%;
   } 
  .desktop {
    display:none;
   }
  .colMobile {
    text-align:left;
    padding: .5em 0em 0em 0;
  } 
  .kailo-card {
    flex-direction: inherit;
    align-items: center;
    padding: 15px 0px;
    border-radius:8px;
  }
  .mobile .kailo-card li  {
	font-size:.6em;
    text-align:left;
    margin:0px !important;
  } 
  #landing-video{
    height: 210px;
  }    
#shopify-section-content-video iframe {
  width:100% !important;
}
    
.ribbonParent {
  overflow: hidden; /* required */
  position: relative; /* required  for demo*/
}


.ribbon {
  margin: 0;
  padding: 0;
  /*background: rebeccapurple;*/
  color:#fff;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  font-size:10px;
  font-weight:100;
}
.ribbon.blue {
  background:#336370;
}
.ribbon.green {
  background:green;
}    
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  /*background: rebeccapurple;*/
}
.ribbon:before {
  right:100%;
} 
.ribbon.blue:before,
.ribbon.blue:after {
  background:#336370;
}
.ribbon.green:before,
.ribbon.green:after {
  background:green;
}    
    
}
  .slider_top{
  background-color: #1d94aa;
  }
  
 #logo .site-logo img {
    width: auto;
    margin: 0 auto;
    display: block;
}
  
  #logo {
    border-bottom: 2px solid #f1f1f1;
}
  #logo .site-logo {
    margin: 15px auto;
}
  
  
  .bodycopy{
  color: #434339;
    
    margin-bottom: 25px;
}
  
  .grid-container {
    padding: 30px;
}
  
  .featureIcons .image-container .inner .image img.no-color {
    filter: grayscale(100%) brightness(0) contrast(40%);
}
  .featureIcons .divider {
    position: relative;
    width:50px
}
  
  .flex-row {
    display: flex;
}
  
  .featureIcons .divider:after {
    content: '';
    border-right: 1px solid #cbcac9;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -1px;
    height: 80%;
    width: 1px;
}
  
  
  .featureIcons .divider:last-child {
    display: none;
}
  
  .inner .caption .text-group .caption-heading {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

.inner.caption-position-right .caption .text-group {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
  
  .inner .caption .text-group .caption-heading {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

  section.slider_top.mb-0 {
    margin-bottom: 0px;
}
  .mb-5{ margin-bottom:5px;}
  .mb-30{ margin:30px 0;}
  
  .inner.caption-position-right {
    display: flex;
}
  
  .grid {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
  
  
  
  .featureIcons  .image-container .inner .image {
    width: 110px;
    max-width: 110px;
}
  .image-container {
    flex: 1;
    text-align: center;
    position: relative;
    z-index:1111;
}
 
  
  .image-container .inner .caption .text-group .caption-heading {
    font-size: 1.125rem;
    line-height:1.125;
    text-align: left;
    
}
  .grid-container .grid .image-container .inner.caption-position-right .image {
    flex: 1;
}
  
  
  .image-container .inner.caption-position-right .caption {
    flex: 1;
    padding: 0 10px;
}
  
  .block-content .caption-copy {
    text-align: left;
}
  .feature-grid-block .grid-container[data-display-type=image_grid] .caption {
    padding: 15px 0 0;
}
  
  .featureIcons  .grid .image-container .inner .image img {
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
  
  .grid-container .grid .image-container {
    flex: 1;
    text-align: center;
    /* position: relative; */
}
  .inner.caption-position-right .caption .text-group .caption-copy {
    text-align: left;
}
  
  .pb-0{ padding-bottom:0px;}
  .grid-container .grid .divider:last-of-type {
    display: none;
}
  
  .icon-strip-blocks{
    padding-top:100px;
  background:#000 url('');
/* background-image: linear-gradient(147deg, #000000 0%, #444347 74%); */

  
  }
  
  .icon-strip-block .grid-container .grid .image-container {
    flex: 1;
    text-align: center;
    position: relative;
}
  
  .grid-container .grid .image-container {
    flex: 1;
    text-align: center;
    position: relative;
}
.teal {
  color:#00c2c2 !important;
}
   .heading {
    color: #1d96a9;
    font-weight: 700;
    text-align: center;
     font-size: 2rem;
     margin-bottom:7px;
}
  .call-out-font-weight{color:#00c2c2; font-weight:700;}
  .pt-0{ padding-top:0px;}
  .call-out-font-weight{ font-size: 1.4rem;
    line-height: 1.667;}
  
  .how_does{ padding: 50px 5%!important; position:relative;}
  
  .how_does .new_div{
    display: flex;
    margin-bottom: 1.75em;
    box-sizing: border-box;
    flex-wrap: no-wrap;
  }
  
  .icon-strip-block .grid-container .grid .image-container .inner .image {
    width: 80px;
    max-width: 80px;
}
  
  .icon-strip-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner {
    padding: 0 0 30px;
}
  
  .icon-strip-block .grid-container[data-display-type=icon_grid] .grid .divider {
    display: none;
}
  
  h2.demi-heading{ 

font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 17px;
    margin-bottom: 10px!important;
    position: relative;
    color: #857550;
position:relative;}


  
  button.productBtn.custom-btn span {
    
    font-size: 1.2em;
}
  
  .new-items{
  border-right: 1px solid rgba(0,0,0,.1);
    position:relative;
  }
  .new-items_dev{
    margin-left: 34px;
  }
 
  .feature-2-column-block .column-1 {
    flex: 0 0 50%!important;
    max-width: 50%!important;
}
  
  .feature-2-column-block {
    display: flex;
    width: 100%;
    position:relative;
    z-index:11;
}
  
  button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
    display: none !important;
}
  
  .demi-heading{
    position:relative;
 font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 17px;
    margin-bottom: 10px!important;
    position: relative;
    color: #857550;
}



  
  .demi-heading:after{
  content: '';
    border-top: 2.5px solid #857550;
    width: 30px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left:0;
  }
  
  .icon-strip-block .grid-container .grid {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
  
  .santek-block-button__link {
    padding: 15px 15px;
    margin-top:8rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;

    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff!important;
    text-shadow: 0 1px 1px rgb(255 255 255 / 50%);
    background: #1d94aa!important;
    
   
}


  
  .feature-2-column-block .block-content .image-container.full-bleed {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
    padding: 0;
}
  .feature-2-column-block .block-content .column-1 {
    flex: 0 0 50%!important;
    max-width: 50%!important;
}
   .feature-2-column-block .block-content {
    flex-direction: row-reverse;
}

  
  .icon-strip-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .image {
    margin: 0 auto 0px;
}
  .icon-strip-block .grid-container .grid {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
  .no-color{
  filter: grayscale(100%) brightness(0) contrast(40%);
   
}
  
  .icon-strip-block .block-content .section-content .santek-block-group__inner-container {
    transform: none;
    top: 0;
    padding:0px;
}
  .text-group .headings {
    color: #00c2c2;
    font-weight: 700;
    margin-bottom: 60px;
    font-size:22px;
}
  
  .text-group .subhead {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 17px;
    margin-bottom: 10px;
    position: relative;
    color: #857550;
}
  .feature-grid-block .grid-container[data-display-type=image_grid] .grid {
    display: inline-flex;
}
  
  .feature-grid-block .section-heading .heading {
    padding-top: 50px;
}
  .grid-container[data-id="6259ba22f29da"]:not([data-display-type="slideshow"]) .grid {
    margin: -15px 0 0 -15px;
    width: calc(100.005% + 10px);
}
  
  .feature-grid-block .grid-container {
    max-width: 980px;
    margin: 40px auto 0;
}

  
  .kail-image-slider .slick-prev {
    left: -30px;
    position: absolute;
    top: 27%;
    font-size: 52px;
    cursor:pointer;

}
  
  .kail-image-slider .slick-next {
    right: -30px;
    position: absolute;
    top: 27%;
    font-size: 52px;
    cursor:pointer;

  }
  .review h4 a{    
    color: #fff;
    font-size: 28px;
    min-height: 80px;
    display: block;
}
  .review p{
      color: #fff;
    text-align:justify;
    
    
    
}

  .mb-0{margin-bottom:0px;}
  
 .feature-2-column-block .block-content {
    display: flex;
    width: 100%;
}
  
  .text-group .santek-block-group__inner-container {
    transform: translateY(-50%);
    top: 53%;
    padding: 80px 10%;
}
  
 .santek-block-group__inner-container {
    position: relative;
    width: 100%;
    height: 100%;
}
  
  .grid-container:not([data-display-type="slideshow"]) .grid {
            margin: -15px 0 0 -15px;
            width: calc(100.005% + 10px);
        }
        .grid-container:not([data-display-type="slideshow"]) .grid .image-container {
            margin: 20px 0 0 20px;
            /*flex: 1 0 calc(33.333333% - 20px);*/
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(33.333333% - 20px);
            max-width: calc(33.333333% - 20px);
        }
  
 
        .grid-container[data-id="6259ba2309664"]:not([data-display-type="slideshow"]) .grid {
            margin: -0px 0 0 -0px;
            width: calc(100.005% + 0px);
        }
        .grid-container[data-id="6259ba2309664"]:not([data-display-type="slideshow"]) .grid .image-container {
            margin: 0px 0 0 0px;
            /*flex: 1 0 calc(33.333333% - 0px);*/
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(33.333333% - 0px);
            max-width: calc(33.333333% - 0px);
        }
  .p-0{ padding:0px;}
  .inner.caption-position-middle:after{
  
  content: '';
    width: 100%;
    height: 100%;
    background: rgba(10,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  
  p.freeShipping img {
    margin-top: 0px;
}
  
  .inner.caption-position-middle .caption .text-group{
  
  position:absolute;
    top:30%;
   
  }
  
  .inner.caption-position-middle .caption .text-group .caption-heading{
    color: #fff;
    
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px;
    padding-left:35px;
    text-shadow: 0 0 3px rgb(0 0 0 / 80%);
    letter-spacing: 1px;
    font-size: 1rem;
  
  }
  .inner.caption-position-middle .caption .text-group .caption-copy{
  font-size:1.2rem;
  }
  
  .inner.caption-position-middle .caption .text-group .caption-copy p{
    color: #fff;
    text-align:left;
    font-weight: 600;
    line-height: 1.2;
    padding:0 35% 0 5%;
    
   
  font-size:33px;
    
    margin-bottom: 20px;
  }
  
  
  
  .inner.caption-position-middle .caption{
  padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .icon-strip-block .grid-container[data-display-type=icon_grid] .grid {
    flex-wrap: wrap;
}
  .caption-position-below .caption { text-align:center;}
  .caption-position-below .caption .caption-heading span{ display:block; text-align:center; font-size:1rem; }
  .inner.caption-position-below .image img {
    width: 22%;

    /* text-align: center; */
   
    padding-top: 1em;
    height: 140px;
    object-fit: contain;
}
  ul.m-0.p-0 li span{ 
    display: inline-block;
    font-size: 16px;
    color: #3c3c3c;
    line-height: 1.4;
    letter-spacing: 0px;}
  
  ul.m-0.p-0 li{
  
  margin-bottom:1.5rem;
  }
  
  .kablo-bundle .heading{ text-align:left;}
  
  .kablo-bundle .text-group .santek-block-group__inner-container{
      transform: translateY(-50%);
    top: 60%;
    padding: 10px 10%;
  }
  .kailo-product-detail-item {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height:24px;
    color:#3c3c3c;
}
  .mt-3{ margin-top:3rem;}
  
  ul.m-0.p-0 li:nth-child(1) {
      
    color:#3c3c3c;
   
  }
  
 ul.m-0.p-0 li:nth-child(2) {
      
    color: #207778;
   
  }
  
  ul.m-0.p-0 li:nth-child(3) {
      
    color:#336370;
   
  }
  
  img.mastercard.primary-graphic {
    width: 36px !important;
}
  
  #footer-badges .footer-badge-container .payment-badge img, #footer-badges .footer-badge-container .payment-badge svg {
    margin: 0 20px;
    width:65px;
}
  
  #footer-badges .footer-badge-container .payment-badge img.guarantee-90, #footer-badges .footer-badge-container .payment-badge svg.guarantee-90 {
    object-position: -300px 0;
    width: 75px;
}
  
  .reliable-relief .caption-position-below .caption-copy,  .reliable-relief .caption-position-below .caption-heading span {
    text-align: left !important;
    display: block;
}
  
  #footer-badges .footer-badge-container .payment-badge {
    height: 62px;
    order: 1;
}
  
  .vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
  
  .pb-50{ padding-bottom:50px;}
  
  #footer-badges .footer-badge-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:30px;
}
  
  

  #footer-badges {
     background: #5e5e5e;
    padding: 6rem 0px;
}
  
  #footer-badges  h4{ font-size:30px; padding-bottom:40px; color:#fff; text-align:center;}
  

  .inner.caption-position-below .caption-copy p{
  text-align:left;
  font-size:1.28em;
    padding-top:0.8rem;
    color:#fff;
    line-height:1.2rem;
  }

  
  .grid-container[data-id="6259ba2316010"]:not([data-display-type="slideshow"]) .grid {
            margin: -15px 0 0 -15px;
            width: calc(100.005% + 10px);
        }
        .grid-container[data-id="6259ba2316010"]:not([data-display-type="slideshow"]) .grid .image-container {
            margin: 20px 0 0 20px;
            /*flex: 1 0 calc(33.333333% - 20px);*/
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(33.333333% - 20px);
            max-width: calc(33.333333% - 20px);
        }
  
     .grid-container[data-id="6259ba230d679"] .grid .image-container {
                
                max-width: 50%;
            }
  
  
  .feature-grid-block .grid-container[data-display-type=icon_grid] .grid {
    flex-wrap: wrap;
    display: inline-flex;
}


.inner.caption-position-below .caption-copy {
    text-align: center;
    font-size: 0.9em;
}
  
.feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption{
padding: 4% 12px 4px;
}
  
.feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .image{
    top: 15%;
    left: 50%;
    margin: 0 0 0 -11%;
}

  .feature-grid-block

.feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption .caption-heading{
    display: flex;
  
    justify-content: flex-start;
    align-items: start;
 
}



  
  .feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container{
  
  
}
  .m-0{ margin:0;}

 
  
  .visible-xs{ display:none;}
  
  
 /*---modal body---*/
          
          
     .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
      background:rgba(0,0,0,0.7);
}
    .modal-dialog {

    margin: 2.75rem auto!important;
}
    
    .modal .modal-dialog{
      width: calc(100% - 40px);
      
    }
    
    .modal.show .modal-dialog {
    transform: none;
}
    .modal-xl {
    width: 100%;
    max-width: 1120px;
}
    
    .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
    
   
  
    
    .modal-body .row {
    display: flex;
    flex-wrap: wrap;
   
}
    
    .modal-body .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
    
     .modal-body .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
    .modal .headline {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    color: #666;
}
  
    .popup-special-container {
    max-width: 300px;
    margin: -55px auto 0;
    position: relative;
    left: 30px;
    color: #333;
}
    .popup-special-container .number {
    float: left;
    width: 50%;
    font-size: 145px;
    font-weight: 700;
    margin-bottom: -20px;
}
    .popup-special-container .percentoff {
    float: left;
    width: 50%;
    text-align: center;
}
  @media (min-width:600px) {
    .popup-special-container .percentoff .percent {
    font-size: 88px !important;
} 
     .popup-image img {
    max-width: 100%;
    width: 72% !important;
}
    .popup-content {
    text-align: center;
    margin-top: 30px !important;
}     
  }
    .popup-special-container .percentoff .percent {
    font-size: 50px;
    position: relative;
    top: 25px;
}
    .popup-special-container .percentoff .off {
    font-size: 36px;
    position: relative;
      line-height:40px;
}
    .popup-image {
    margin: 0 auto;
    text-align: center;
}
    
     .popup-image img {
    max-width: 100%;
    width: auto;
}
    
     .modal-body  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
    .popup-content {
    text-align: center;
    margin-top: 0px;
}
     .popup-content .button-container {
    text-align: center;
    margin: 20px 0;
    position: relative;
}
    
    .modal .modal-dialog .modal-content{
    box-shadow: 0 0 0 10px rgb(0 0 0 / 35%), 0 0 4px rgb(0 0 0 / 10%);
    border-radius: 0;
}
    
    .modal button.close {
    position: absolute;
    background: #000!important;
    opacity: 1;
    color: #fff;
    border-radius: 50%;
    line-height: 26px;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    border: 2px solid #fff;
}

   
    .modal-dialog .modal-content button.close {
    border-radius: 0;
    border: 0;
    background: 0 0!important;
    box-shadow: none;
    color: #aaa;
    text-shadow: none;
    right: 15px;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 50px;
}
    
   .modal .value-price {
    font-size: 18px;
}
  
  .modal-body .row{justify-content: center;}
    
    .popup-content p.cancel-upsell {
    padding: 1px 0;
      text-decoration:underline;
      cursor:pointer;
}
    .modal .special-price {font-size: 17px;}
    
    .modal .kailo-landing button, .modal .yes-bundle button{ padding:15px !important; border-radius:6px;}     
  
        
        @media only screen and (min-width: 992px) {
            .grid-container[data-id="6259ba230d679"] .divider {
                width: 50px;
            }
          
          .feature-2-column-block.icon-strip-block .image-container .inner.caption-position-right .caption

{ width:180px;}
        }

     .prinInvestigator .wrapper.container{ height:100%;}

    
            .prinInvestigator{
                background-size: cover;
                padding: 0px 0px 0px;
               position:relative;
                height: 100vh;
                min-height: 28rem;
              background-position:100% 100%;

            }
	
			.slider-below .featureIcons .divider{ display:none;}
			
			.slider-below .image-container .inner .caption .text-group .caption-heading, .slider-below .inner.caption-position-right .caption .text-group .caption-copy{ text-align:center !important; font-size:0.8rem;}
			
			.kail-image-slider .slick-next, .kail-image-slider .slick-prev {
    display: none !important;
}
			
			.slider-below  .inner.caption-position-right .caption .text-group {
					position: relative;
					top: 80%;
					transform: translateY(40%);
    /* text-align: center !important; */
}
			
			 .slider-below .inner.caption-position-right {
					display: flex;
					flex-direction: column;
					align-items: center;
}
      
          
          
        }

	
	
	.testimonial-block{
  
  border: 1px solid #d1d1d1;
    margin: 0 10px;
    display: flex;
    flex-direction: column-reverse;
    padding:20px 20px 0px;
    min-height:520px;
}
  section.testomonials-slides .stars {
    color: #0bbec0;
}
  
  .review {
    font-size: 13px;
    text-align: left;
    padding-top:10px;
    border-top:2px solid #fff;
    margin-top:120px;
}
  
  .bg-grey{background:#f5f4f2;}
  
  .rating{
  
  display: flex;
   
    justify-content: flex-start
}

  .pt-5{ padding-top:5rem;}
    
 
  .reviews{flex: 1;    padding: 20px 20px 70px;}
  
  
  .stars img{ width:75px;}
  
  .user
  {
 
    color: #434339;
    text-align:left !important;
}

  .rating .user .verified{
  color: #fff;
    
    font-size: .75rem;
}
  
  strong.reviewer-name, .verified {
    color: #fff;
}

     ul.slick-dots {
    margin: 1rem;
}     
          
          
 
@media only screen and (max-width: 420px) {
    
     .kailo-landing button, .yes-bundle button {
    margin: 20px auto !important;
   
}
  }
  
  
  /*  <!----new css--> */
  
  .text-overlapings {
            padding: 40px 12rem;
           
            padding-bottom:0rem;
        }
    
  .main-heading{
    text-transform:uppercase;
    position: relative;
    padding-left: 0px;
    line-height: 1.1;
    margin-bottom: 20px;
    position: relative;
    padding-left: 0px;
    line-height: 1.1;
    font-size: 62px;
    line-height: .9em;
    letter-spacing: -1px;
    color: #4792a6;
    text-transform: none;
    font-weight: 600;
  
  }
  
  .ease_use p.white-text.pl-20 {
    padding: 0 18rem;
}
  .top_header  .kailo-landing button span{ font-size:22px;}
  .top_header .kailo-landing button {
    padding: 15px 20px;
    
}
  .ease_use .grid-container.full-width.p-0 > .flex {
    margin: 0 -20px;
}
  
  .productBtn {
    padding: 1em 15px !important;
  }
  
   #offer{ padding-bottom:80px;}      
  .overlay-shadow {
    background: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    width: 100%;
}           
	
  
  .text-overlapings{ padding:0 1rem; font-weight:400;}
  
  .prinInvestigator{ position:relative;}
  
  .col-adjacent .notataion-name{ position:absolute; bottom:15px;}
  
  section.step_follow .flex {
    position: relative;
    margin: 0 -20px;
}

  
  .pricing h4 {
    color: #1d94aa;
    font-size: 26px;
    padding-top:30px;
}
  
  .top_header{ 
    background:url('https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/header-bg.jpg') no-repeat;
  position:relative;
    position: relative;
    background-size: cover;
    margin-bottom: 0px;
    background-position: center center;
   
  }
  .pt-120{ padding-top:80px;}
  .logo-new img{width:300px;}
  .pt-110{ padding-top:111px;}
  .text-side-video{ padding: 3rem 5rem 4rem 0rem;
    color:#fff;
    font-size: 22px;}
  
  .sponsors_seen{ display:flex; align-items:center; justify-content:space-between; padding-bottom:80px; margin:0px;}
  .sponsors_seen li{ align-items:center;}
  .sponsors_seen li:nth-child(1) img{ width:50px;}
  .sponsors_seen li img{ width:100px;}
  
  .fast_acting{
    background:#000 url('https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-attributes-background.jpg') no-repeat;
    background-size:cover;
    background-attachment:fixed;
   
    background-position: center bottom;
   
    padding-bottom: 82px;
  
    background-repeat: no-repeat;
    
  }
  
  
  
  
@media(max-width:600px){ 
  
  .sponsors_seen{ flex-flow:wrap; padding-bottom:20px !important; }
  .sponsors_seen li {
    display: flex;
   
    
}
  .sponsort_seen ul {margin:0px !important;}
  .sponsort_seen ul li {margin:0px !important; padding-bottom:20px !important;}  
  .sponsors_seen li img {width: 40px !important;}
  .sponsors_seen img.icons {width: 90px !important;}
  .patch-bg {
    background-image: url('https://cdn.shopify.com/s/files/1/0121/1537/8238/files/behindTheScienceBg.jpg?v=1655392365');
    background-position:left center !important;
    color:#000;    
    position:relative;
    background-size:cover;
    background-position:center center;
    height:100%;    
  }

  
}
  
  .flex-rows{ display:flex: justify-conntent:center;}
  .flex-rows .sponsors_seen{ display:flex; align-items:center; justify-content:center; padding-bottom:0px;}
  .flex-rows .sponsors_seen li {    align-items: center;    margin: 0 2rem;}
  .flex-rows .sponsors_seen li:nth-child(1) img{ width:200px;}
  .flex-rows .sponsors_seen li img{width:200px; }
  .white-text{ color:#fff;}
  .mt-0{ margin-top:0px;}
  .background-crramy{ background:#e6e6e6;}
  .mt-5{ margin-top:5rem;}
  
  @media(min-width:600px){ 
  .patch-bg{ 
    background:url('https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/patch-bg.png?v=1654848916') no-repeat;
    position:relative;
    background-size:cover;
    background-position:center center;
    height:100%;
  
  }
 }    
 
  .box-layout{
   position: relative;
    bottom: -60px;
    background: #00c2c2;
    width: 580px;
    max-width:100%;
    margin:24rem auto 0 auto;
    
    font-weight: 600;
    color: #fff;
    padding: 3rem 2rem;
    text-align: center;z-index:222;
  }
  .patch-bg h4{ font-size:1.5rem;}
  .patch-heading{     
    margin: 0px;
    font-size: 35px;
    line-height: 1.5em;
    letter-spacing: -1px;
    color: #4792a6;
    text-transform: none;
    font-weight: 600; 
  }
  .subheads:before{content: '';
    border-top: 6.5px solid #0bbec0;
    width: 120px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;}
  
  h4.white-text.mt-0 {
    font-size: 20px!important;
    line-height: 1.5em!important;
    letter-spacing: -1px!important;
    color: #fff!important;
    text-transform: none!important;
    font-weight: 400!important;
}
  .font-size-50{ font-size:3.8rem;}
  .flex-row .left-sections{ width:40%; margin-top:2rem;} .flex-row .right-sections{margin-top:2rem; width:50%; margin-left:10%;}
  
  .texting-news h4{ color:#0bbec0; font-size:22px;}
  .texting-news p{ color:#fff; font-size:16px; line-height:1.2;}
  .testomonials-slides{ background:#1d94aa; padding-top:110px;}
  
  .col.col-adjacent .notataion-name {
    font-size: 14px !important;
    color:#fff !important;
}
  
   .step-2 .caption .text-group .caption-heading{padding-right: 60px !important; text-align: right !important;}
  
  .step-2 .caption .text-group .caption-copy p{
        padding: 0 3% 0 44% !important;
    font-size: 32px !important;
  
  }
  
  .step-2 .inner.caption-position-middle .caption .text-group{ right:0px;}
  
  .manage-grid{ width:980px;  background:#585657; padding:30px 0; margin:100px auto;}
  
  .text-left.pl-20{ text-align:left; padding-left:20px;}
  .feature-grid-block .feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption .caption-heading p {
    font-size: 1.2rem !important;
}
  
  .kablo-bundle{ background:url("https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kablo-budle.jpg") no-repeat;
  background-size:cover; min-height:50rem;height:100vh; background-position:50% 100%;
  }
  
 .kablo-bundle h2.subhead.is-style-demi-heading {
  font-size: 24px;
    color: #23918f;
    text-shadow: 0.5px 0.5px #068c89;
}
  
  .kablo-bundle .heading {
  text-align: left;
    font-size: 3rem;
    font-weight: 700 !important;
    color: #ffffff;
    padding-bottom: 45px;
    text-shadow: 1px 1px black;}
  
  p.mb-0.meduim-font.bluish {
    font-size: 22px;
    font-weight:700;
}
      p.mb-0.meduim-font.bluish-1 {
    font-size: 22px;
    font-weight:700;
}
  .font-size-20{ font-size:24px; font-weight:700; display:block; margin:-5px;}
  .font-size-13{ font-size:13px;  display:block; font-weight:600;}
  .font-size-15{ font-size:16px; font-weight:600;}
  .slick-initialized .slick-slide{ margin:0 0.5%;}
  .kail-image-slider.slick-initialized .slick-slide{ margin:0;}
  
  .btm-footer{ background:#515151; padding:10rem 0px; text-align:center;}
  
  .kailo-testimonial-slider .slick-dots li button:before {
    color: #fff;
}
 .prinInvestigator .wrapper.container {
    height: 100%;
} 
  
  
  @media(max-width:820px){
  .flex-row {
    display: flex;
    flex-wrap: wrap;
}  
    .pt-120 {
    padding-top: 40px;
}  
    .fast_acting {  
    background-position: 0% 100%;   
}
    .kablo-bundle {
    background: url(https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-1-2-3-bundle-banner.jpg?v=1655485840) no-repeat;
    background-size: contain;
    background-size: contain;
	min-height: auto;
	height: 28vh;  
} 
    div.align-text-moblle {
      position:relative;
      top:-28vh;
      z-index:99;
    }
    .align-text-moblle h2.subhead.is-style-demi-heading {
    font-size: 18px;
    color: #4792a6!important;
      margin-bottom:0px;
      padding-bottom:0px;
}   
    .align-text-moblle .text-group .santek-block-group__inner-container {
   
    padding: 80px 5% 0px 5%;
}
    
   .align-text-moblle .heading {
    text-align: left;
    font-size: 2em;
    font-weight: 700 !important;
    color: #fff;
    padding-bottom: 15%;
     padding-top:0px;
     max-width:300px
} 
    
    
  .top_header {
    background: url(https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/header-bg.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    background-position: 60% center;
}

.btn-wrapper.kailo-landing.pt-110 {
    padding-top: 0px;
}

.text-side-video {
    padding: 1rem 0rem 6rem 0rem;
    
}

.step-2 .caption .text-group .caption-copy p {
    padding: 0 6% 0 40% !important;
    font-size: 14px !important;
}

.ease_use .caption-heading span {
    background: #0bbec0;
    padding: 5px 20px;
  font-size:0.9rem;
}

.inner.caption-position-middle .caption .text-group .caption-copy p {
    color: #fff;
    text-align: left;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 35% 0 6%;
    font-size: 14px;
    margin-bottom: 23px;
}

.manage-grid{ width:100%;margin: 0px auto;}
.prinInvestigator .col-adjacent{ width:100%;}

    
.prinInvestigator{
    background-size: cover;
    padding: 0px 0px 0px;
   position:relative;
    height: 100vh;
    min-height: 36rem;

}
.review{ margin-top:0px;}
.mt-5 {
    margin-top: 1rem;
}
.flex-row .left-sections, .flex-row .right-sections{ width:100%;}


.feature-2-column-block .column-1 {
    flex: 0 0 100%!important;
    max-width: 100% !important;
}
    
    .pt-5 {
    padding-top: 2rem;
}
    .font-size-50 {
    font-size: 2rem;
}
.kablo-bundle .text-group .santek-block-group__inner-container{ padding: 50px 5%;}

#footer-badges {
    background: #5e5e5e;
    padding: 3rem 0px;
}
.btm-footer {
    background: #515151;
    padding: 5rem 0px;
    text-align: center;
}
.santek-block-button__link{ margin-top:0px;}
.box-layout{left:0; margin:0 auto; padding:3rem 1rem;}
    .text-left.pl-20{ padding-left:0px;}
    
     .inner.caption-position-middle .caption .text-group{
  
 
    top:0%;
   
  }
.inner.caption-position-middle .caption .text-group .caption-heading {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    text-shadow: 0 0 3px rgb(0 0 0 / 80%);
    letter-spacing: 1px;
    font-size: 1rem;
}
.flex-rows .sponsors_seen li{ margin:0 0.4rem;}
  
  .kablo-bundle .heading{ font-size:2.2rem;}
    .ease_use p.white-text.pl-20 {
    padding: 0 10rem;
}
    
  }
  
  
 @media only screen and (min-width: 768px) and (max-width: 991px) {
      .image-container.full-bleed {
    background-size: cover !important;
}
      .logo-new img {
    width: 200px;
}
   
    .feature-grid-block .feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption .caption-heading p {
    font-size: 1rem !important;
}
      
      .main-heading{ font-size:3.5rem;}
      
      .top_header {
   
   background-size: cover;
    margin-bottom: 0px;
    background-position: -120px center;
   
}
      .prinInvestigator .col-adjacent {
    width: 60%;
}
            .grid-container[data-id="6259ba230d679"] .divider {
                width: 45px;
            }
              
              
            .text-left.pl-20 {
                padding-left: 12px;
            }
              .modal-body {
    padding: 20px 0;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
                  
   
}
              
                  
           .popup-special-container .percentoff .percent {
    font-size: 60px;
    position: relative;
    top: 25px;
}
    .popup-special-container .percentoff .off {
    font-size: 30px;
    position: relative;
      line-height:40px;
}
              
  .popup-special-container {
    max-width: 200px;
    margin: -40px auto 0;
			}
			.popup-special-container .number {
    
    font-size: 100px;
    
}
			
			
          .modal .popup-special-container {
          max-width: 250px;
          margin: -25px auto 0;
          position: relative;
          left: 30px;
          color: #333;
          }
			
			
			         
            .modal button.productBtn.custom-btn span {    font-size: 1em !important;}
			.modal-dialog {    margin: 2.75rem auto!important;}
			.popup-special-container .number{ font-size:100px;}
          
          
			.heading{margin-bottom:20px;}
			
			.center-mob{ text-align:center;}
			
          button.productBtn.custom-btn span {
    font-size: 0.8rem;
}
      
      .text-overlapings{ margin:0 2rem; padding-bottom:20rem;}
      
      button.productBtn.custom-btn {
    width: 80%;
}
      .feature-2-column-block .column-1 {
    flex: 0 0 60%!important;
    max-width: 100% !important;
}
      .kablo-bundle {
    
   
    height: 100vh;
    background-position: 72% 100%;
}
      
  .prinInvestigator {
    
    
    background-position: 95% 100%;    
              
}
      
    }
  
  
  
 @media only screen and (max-width: 767px) {
   .mt-5.text-left.pl-20 > img {
    width: 110px !important;
}
   .fast_acting {
   
    background-position: 0% 100%;
      
    background-attachment:unset;
      
}
   .top_header .kailo-landing button {
    padding: 10px 15px;
}
   .top_header .kailo-landing button span{ font-size:18px;}
   
   .productBtn {
    padding: 0.6em 10px !important;
}
   button.productBtn.custom-btn {
    width: 90%;
}
   button.productBtn.custom-btn span {
    font-size: 0.9em;
    padding: 0px;
}
   
          .top_header { background-position: 52% 100%;}
          .ease_use p.white-text.pl-20{ padding:0 2rem;}
          .feature-grid-block .grid-container[data-display-type=icon_grid] .grid{display:block;}
          .inner.caption-position-below{ display: inline-flex;}
          .feature-grid-block .feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption .caption-heading p {
                margin-bottom:10px;
                text-align: left;
            }
			.modal .modal-dialog { width: calc(100% - 10px);}
			
          .modal .popup-special-container {
          max-width: 250px;
          margin: -25px auto 0;
          position: relative;
          left: 30px;
          color: #333;
          }
			
			.modal-body .row{justify-content: center;}
			         
            .modal button.productBtn.custom-btn span {    font-size: 1em !important;}
			.modal-dialog {    margin: 2.75rem auto!important;}
			.popup-special-container .number{ font-size:90px;}
          
          
			.heading{margin-bottom:20px;}
			
			.center-mob{ text-align:center;}
			
			.feature-grid-block .mobile-devices .inner.caption-position-right{ align-items: flex-start;}
			
			.feature-grid-block .mobile-devices .grid-container[data-display-type=icon_grid] .grid .image-container{
				
				box-shadow: none;
			}
			
			.feature-grid-block .mobile-devices .grid-container.p-0{ padding:0px !important;}
			.feature-grid-block .mobile-devices .icon-strip-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner{
				
				padding:20px 10px;
			}
	    .feature-grid-block .mobile-devices .grid-container[data-display-type=icon_grid] .grid {
			flex-wrap: wrap;
			display: table-cell;
}

.feature-grid-block .mobile-devices .grid-container[data-display-type=icon_grid] .grid .image-container .inner .image{

			margin:22px 10px 0px;
}


.feature-grid-block .mobile-devices .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption {
    padding: 4% 20px 20px;
}
			
			
            .grid-container[data-id="6259ba230d679"] .divider {
                width: 50px;
            }
          
          .grid-container:not([data-display-type="slideshow"]) .grid {
    width: 100%;
}
          
       
          .inner.caption-position-right .caption .text-group .caption-copy span{ text-align:left;}
          
          .no-color {
    width: 70% !important;
}
          .inner.caption-position-right .caption {
    flex: 0 78%;
    padding: 0px 10px;
    text-align: left !important;
}
          #footer-badges .footer-badge-container{ flex-wrap:wrap;}
          
          .mt-10.mb-30{margin-top:10px !important; margin-bottom:30px !important;}
          .main-content{overflow:hidden;}
           .slider-below .inner.caption-position-right {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
          
          .inner.caption-position-right .caption .text-group{ transform: translateY(0%);}
          .main-heading{ font-weight:700 !important; font-size:2.2rem; color:#4ed2d4 !important;}
          .slider-below .flex-row { display:flex; flex-wrap:wrap; }
          .slider-below .flex-row .divider{ display:none;}
         .slider-below  .image-container {flex: 1 50%; }
           .hidden-xs{ display:none;}
          .kailo-landing button, .yes-bundle button{ margin: 0px 0px 20px 0px !important; border-radius:6px;}
          .text-group .subhead, .headings { text-align:left;}
         
          .feature-2-column-block .block-content {
    display: block;
    width: 100%;
}
          
          .reliable-relief .inner.caption-position-below .caption-copy p {
    font-size: 1.28em;
    padding-top: 0.8rem;
    color: #222;
            text-align:left !important
}
          h2.emain-heading{ font-weight:700; font-size:1.7rem;}
          .santek-block-button.button.cta.eplus-rcwaay.is-style-cta-outline {
    text-align: center !important;
}
       
     .slider-below  .image-container .inner.caption-position-right .caption {
    padding: 30px 5px;
       padding-bottom:0px;
}     
          .visible-xs{ display:block;}
          
          .flex-row .image-container{  float:left;}
          .featureIcons .image-container .inner .image {
            width: 70px;
            max-width: 110px;
            margin-bottom:30px;
            margin-top:30px;
        }
          .caption-copy span {
          text-align: center;
          display: block;
          }
          
          h2.emain-heading {
         text-align: center;
          }

          .demi-heading:after{left:45%;}
          .new-items{ border-right:0px; text-align:center;}
          .center{ padding:10px;}
          .image-container .inner .caption .text-group .caption-heading {
            font-size: 1.125rem;
            line-height: 1.125;
           
}
         .inner.caption-position-right {
          display: flex;
          flex-direction: column;
          align-items: center;
         }
          
          .inner.caption-position-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
          .image-container .inner.caption-position-right .caption{
            padding:30px 10px;
          }
          
          .no-color{ width:60% !important;}
          .text-group .santek-block-group__inner-container {
              transform: translateY(0);
              top: 50%;
              padding: 50px 5%;
             }
          .inner.caption-position-right {
    display: flex;
    flex-direction: revert;
    align-items: center;
}
          .grid{ display:block;}
          .slick-dots {margin-top:1rem;}
          .kailo-landing button, .yes-bundle button{ margin-bottom:30px;}
          .kail-image-slider .slick-next, .kail-image-slider .slick-prev{ display:none !important;}
          .grid-container{ padding:10px;} 
          .new-items_dev{ margin-left:0px;}
          .how_does .new_div, .flex-row{ display:block;}
          .grid-container:not([data-display-type="slideshow"]) .grid .image-container {
              margin: 20px 20px 0 20px;
              flex: 1 0 calc(33.333333% - 20px);
              flex-grow: 1;
              flex-shrink: 0;
              max-width: 100%;
}
     .layout {
    display: flex;
    flex-direction: column;
}
          .col.col-main img{ width:100%;}    
        
          .grid-container[data-id="6259ba2309664"]:not([data-display-type="slideshow"]) .grid .image-container
          {max-width:100%;}
          
          .feature-grid-block .grid-container[data-display-type=image_grid] .grid {
    display: block;
}
  .grid-container[data-id="6259ba22f29da"]:not([data-display-type="slideshow"]) .grid {
    margin: 0;
    width: 100%;
}
          
          .feature-grid-block .section-heading .heading {
    padding-top: 30px;
}
          
         
   
          .feature-grid-block .grid-container{ margin:0 auto 0;}
          .feature-2-column-block .block-content .column-1 {
          flex: 0 0 50%!important;
          max-width: 100%!important;
}
          .grid-container[data-id="6259ba2316010"]:not([data-display-type="slideshow"]) .grid .image-container{
          
          max-width:100%;
          }
          .kailo-landing button span, .yes-bundle button span {
  	
   font-size:0.9rem;
    padding:.8em 0.92em;
    
  }
          
            
   .modal button.productBtn.custom-btn span {
    font-size: 1.2em;
}
    .modal-body {
    padding: 20px 0;
    max-height: calc(100vh - 50px);
      overflow-y:auto;
}
      .modal .kailo-landing button, .modal .yes-bundle button {
				/*padding: 0px 0px !important;*/
				width: auto;
				text-align: center;
      }  
          
          .prinInvestigator{ background-position:center; min-height:60rem;}
          
          
        }
  
  
  
  
  p.text-overlapings.p-0 {
    
    padding-top: 0px;
}
  
  
  @media(min-width:992px) and (max-width:1024px){
  button.productBtn.custom-btn {
    width: 100%;
}
    .prinInvestigator{ min-height:40rem;}
    .manage-grid{ margin: 40px  auto;}
    
    .kablo-bundle{ background-position:70% 100%;}
  
  }
  @media(max-width:340px){
  .sponsors_seen li img {
    width: 75px !important;
}
  
  }		


  span.semi-headings{ display:block; padding-top:10px; font-size:20px;}  
  .sproutVideo {width:645px;}
  @media (max-width:610px){
    .sproutVideo {width:100%}
  }
  
  
.underline {
  color:#00c2c2;
  float:left;
  width:50%;
}
  label {
    border:solid 1px #abc5c8;
    border-radius:5px;
  }
  @media (max-width:600px){
    .dr-jeffrey-gudin-mobile-wrapper {
      width:100%;
 	  top: 57.3em;
	  position: absolute;
	  left: 13em;
    }
    .dr-jeffrey-gudin-mobile-wrapper img {
    width:180px;
  }
  } 
  @media (min-width:600px){
  .dr-jeffrey-gudin-mobile {
    display:none !important;
  }
  }   
  
    
/* Pop up styles */
  
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 1200px;
  margin: 20px auto;
  font-size:22px;
}
.popup-inner{
display:flex;
}
.popup-inner > div{
flex:100%;
}
.special {
display:block;
  text-align:center;
  width:85%;
}
.rate {
text-align:center;
margin: -0.5em 0;
}
.number {
font-size:6em;
  font-weight:600;
}
.percent {
position: relative;
  top: -0.5em;
  font-size: 3.5em;
  font-weight:600;
}
.off {
  position: relative;
  left: -2.3em;
  font-size: 1.5em;
  font-weight: 600;
}
.special-image {
  width:85%;
}
.act-now {
  display:block;
  font-size:1.2em;
font-weight:600;
  text-align:center;
}
.offer {
display:block;
  font-size:2.2em;
  font-weight:600;
  text-align:center;
  color: #ff6b01;
}
.original-price {
display:block;
  text-align:center;
text-decoration: line-through;
  color:red;
}
.new-price {
display:block;
  text-align:center;
}
.yes-bundle {
  margin: 2em 0 1em 0;
text-align:center;
}
.no-thanks {
display:block;
  text-align:center;
}
.no-thanks a {
color:#343434;
  text-decoration:underline;
  cursor:pointer;
}
  .popup-button{
      background-color: #00c2c2 !important;       
      border-radius: 10px;
      color: #fff;
      padding: 0.7em 0px;
      font-size: 1.2em;
      font-weight: 600;
      margin: 20px auto;
      width:fit-content;
      padding: 15px !important;        
      display:block;
    cursor:pointer;
  }
  .popup-button span{
      border-radius: 10px;
      color: #fff;
      padding: 0.8em 1.2em;
      font-weight: 700;
      font-size: 1.1em;
  }
  .popup-button:hover{
      cursor: pointer;
  }
  .hidden {
     display:none; 
  }  
@media (max-width: 500px) {
  .popup-inner {
   display: block;
 }  
}  
</style>


<section class="top_header">
  <div class="overlay-shadow visible-xs"></div>
 <div class="wrapper">
  <div class="container pt-120">
    <div class="logo-new">
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/logo-new.png" alt="logo"  loading="lazy">
    </div>
  <div class="col col-main">
      <h1 class="main-heading pt-110">THE FUTURE OF<br>PAIN RELIEF.</h1>
       
        
        <div class="btn-wrapper kailo-landing pt-110"><button type="button" onclick="location.href='#buy';"><span>Order Kailo Now</span></button></div>
        <div class="mb-30 hidden-xs">
       
        </div>
        
      </div>
  
   </div>
</div>
  
</section>



<section class="slider_top mb-0 topMargin lazyload">
  <div class="wrapper">
  <div class="container">
    <div class="layout">
      <div class="col col-main">
     
        <p class="bodycopy text-side-video">
         Relieve pain naturally with Kailo's pain patch. Place anywhere on your body to 
         experience relief within in seconds.</p>
        
       
        
      </div>
      <div class="col col-adjacent right lazyload">
       {%comment%}{% section 'content-video' %}{%endcomment%}
        <div class="sproutVideo" style="position:relative; top:-90px; height:0;padding-bottom:53.25%; margin:auto;"><iframe class='sproutvideo-player' src='https://videos.sproutvideo.com/embed/a79edfb71b14e3cb2e/418f4abedf0aed86?autoPlay=true&amp;showControls=false&amp;loop=true&amp;playerColor=00c2c2' style='position:absolute;width:100%;height:100%;left:0;top:0' frameborder='0' allowfullscreen referrerpolicy='no-referrer-when-downgrade'></iframe></div>
        
      </div>  
    </div>  
    <div class="as-seen-in">
       
        <div class="mb-30 mt-0">
         <p class="white-text mt-0">AS SEEN IN</p>
          <ul class="sponsors_seen">
            <li><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/nbc.png" alt="sponsor"></li>
             <li><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/logo-priroty.png" alt="sponsor"></li>
             <li><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/people.png" alt="sponsor"></li>
             <li><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/aoi.png" alt="sponsor"></li>
             <li><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/msn.png" alt="sponsor"></li>
             <li><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/indigogo.png" alt="sponsor"></li>
          
          </ul>
        </div>          
                
    </div>
 </div>
  </div>
</section>  


<section class="mb-0 background-crramy">
  <div class="wrapper center pt-5 pb-0">
    <h2 class="heading pt-4">The Microtech Patch Designed to Relieve Pain in Seconds</h2>
    <p class="call-out-font-weight mb-0">Pain Relief made simple, natural, and affordable</p>
  </div>
</section>
<section class="feature-grid-block m-0  pt-0 background-crramy">
  <div class="wrapper center pt-0">
 <!-- slick -->
<div class="kail-image-slider grid-container p-0  ">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-arm-copy.jpg" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-coffee-table.jpg" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-sunlight01.jpg" alt="">
 <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-workout01.jpg" alt="">
   <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-knee-pain.jpg" alt="">
   <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-pocket.jpg" alt="">
  
</div>


<div class="flex-rows mt-5" >
  <ul class="sponsors_seen">
            <li><img class="icons" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/positive.png" alt="sponsor"></li>
             <li><img class="icons" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/FDA.png" alt="sponsor"></li>
             <li><img class="icons" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/happy-customer.png" alt="sponsor"></li>
             
          </ul>

</div>  
    
    
    
<div class="flex-rows" >
  <ul class="sponsors_seen">
            
             <li><img class="icons" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/money-back.png" alt="sponsor"></li>
             <li><img class="icons" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/made-USA.png" alt="sponsor"></li>
             <li><img class="icons" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/amazing.png" alt="sponsor"></li>
          
          </ul>

</div>  
    
  </div>
    </section>

<section class="patch-bg">

<div class="wrapper center pt-110">
  <h2 class="patch-heading">THE SCIENCE BEHIND THE PATCH</h2><br><br>
  <h3 class="mt-0">HOW DOES KAILO WORK?</h3>
  <p class="text-overlapings">
    The technology inside the Kailo Pain Patch is a combination of conducting and semi-conducting materials that form a uniquely arranged sheet of tiny capacitors. These capacitors were invented as an antenna to assist in the receipt and transmission of electromagnetic waves. The inventors of the antenna technology accidentally discovered that the process that this technology uses to receive and transmit signals makes it uniquely suited to interact with the bodys electrical signals in the nervous system. The conducting materials in the Kailo Technology are common elements that are non-toxic and natural.<br></p>
<h3 class="mt-0">Your Body is an Electrical System</h3>
<!--<p class="text-overlapings">Electricity is everywhere, even in the human body. Our cells are specialized to conduct electrical currents. Electricity is required for the nervous system to send signals throughout the body and back to the brain  making it possible for us to move, think, and feel.<br></p>-->
<p class="text-overlapings p-0">The Kailo capacitors work in harmony with your bodys electrical system like a bio antenna. You may even feel your Kailo begin to get warm as your nervous system responds. Now, once the pain and discomfort is managed, your body can get back to living the life you should be living.<br></p>
  
<div class="box-layout">
    <p>
KAILO IS COMPLETELY NATURAL AND DOESNT 
USE ANY MEDICINES OR DRUGS AND IS NOT 
HARMFUL TO YOUR BODY.</p>
  
</div>
  
</div>

</section>

<section class="feature-2-column-block" style="margin-bottom:0;background-color:transparent;background-repeat:no-repeat" data-column-order="reverse" data-row-order="reverse" >
  <div class="block-content ">
<div class=" column-1 text-group" style="min-height: 500px;">
  <div class="visible-xs">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-sunlight.jpg" alt="image">

</div>
  
  <div class="santek-block-group__inner-container">

    <h2 class="headings ">FAST ACTING, NATURAL PAIN RELIEF<br> <span class="semi-headings">Pain Relief In Seconds</span></h2>
<p class="bodycopy">When youre feeling pain, place the Kailo on your body between where the pain is located and your brain. Most people experience relief within seconds, and a clinical study showed 99% of patients felt pain relief with Kailo within 10 minutes. </p>

<p class="bodycopy">Kailo is 100% drug-free, has zero side effects and can be worn every single day. </p>

<div class="santek-block-button button cta eplus-rcwaay is-style-cta-outline"><a class="santek-block-button__link" href="/blogs/news/kailo-clinical-trials">Clinical results</a></div>
</div></div>
<div class="column-1 media-group hidden-xs">
  
<div class="santek-block-group__inner-container">
<div class="image-container full-bleed " style="background:url('https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-sunlight.jpg') center center no-repeat; background-size:cover !important; min-height:800px; height:100vh; background-size:100% 100%; background-position:top center;">

</div>
</div>
</div>
</div>
</section>



<section class="feature-2-column-block" style="margin-bottom:0;background-color:transparent;background-repeat:no-repeat" data-column-order="reverse" data-row-order="reverse" >
  <div class="block-content ">
    <div class="visible-xs">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-workout.jpg" alt="image">

</div>
    <div class="column-1 media-group hidden-xs " style="min-height: 500px;">
   
<div class="santek-block-group__inner-container ">
<div class="image-container full-bleed " style="background:url('https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/kailo-workout.jpg') center center no-repeat; background-size:cover !important;  min-height:800px; height:100vh; background-size:100% 100%">

</div>
  </div>
  </div>
    
<div class=" column-1 text-group" style="min-height: 500px;">
  <div class="santek-block-group__inner-container">

    <h2 class="headings ">EASY TO USE <br><span class="semi-headings">Get Relief Anywhere on Your Body</span></h2>
<p class="bodycopy">From Chronic pain, to back pain, sciatica or muscle and headaches, the Kailo pain patch is designed to help you find instant relief. </p>
<p class="bodycopy ">You can place it anywhere on your body, from head to toe, and feel the pain subside within seconds.</p>
    <div class="santek-block-button button cta eplus-rcwaay is-style-cta-outline"><a class="santek-block-button__link" onclick="location.href='#buy';" tabindex="-1">ORDER KAILO NOW</a></div>

</div></div>

  </div>
</section>



 
<section class="icon-strip-blocks fast_acting">
  
<div class="wrapper">
 <div class="container">
  <h2 class="subheads mb-30"></h2>
  <h2 class="white-text mt-5 font-size-50">Fast Acting Relief You Can Count On</h2>
  
  
<div class="flex-row">	
<div class="left-sections">
 <div class="texting-news mb-30">
<h4 >WATERPROOF</h4>
 <p>Kailo is waterproof so you don't have to take it off when you shower or swim in a pool or ocean. They have been tested for water-resistance and full submersion. After use in water, simply dab it with a clean, dry towel and allow it to air dry.</p>
  </div>
  
   <div class="texting-news mb-30 mt-5">
   <h4 >LONG LASTING</h4>
 <p>
Kailo is very durable. When well maintained, Kailo can last for many months. This reusable pain relief product offers amazing long-term potential for a one-time purchase</p>
  </div>
  
   <div class="texting-news mb-30 mt-5">
   <h4 >ALWAYS READY</h4>
 <p>No batteries, no charging, no worries. Kailo is always ready when you need it to help relieve 
your pain.</p>
  </div>
   
  


</div>

<div class="right-sections ">
<!-- 	<div class="santek-block-group__inner-container">
<div class="image-container  image-overlay ">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/mob-side.png"  loading="lazy">

</div>
</div> -->
  
  </div>

  </div>
  
  
 </div
  

 </div>

	</div>
</section>


 
<section class="testomonials-slides">
<div class="wrapper center">
  
  <div class="stars">

    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
    <i class="fa fa-star fa-2x " aria-hidden="true"></i>
    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
    </div>
  
 <div class="wrapper center pb-0">
    <h2 id="reviews" class="heading white-text">Hear From Customers Who <br>
Love Their Kailo</h2>
    
  </div>
  
  </div>
  
 

<div class="wrapper center pt-0">
 <!-- slick -->
<div class="kailo-testimonial-slider">
 
<div class="testimonial-block">
	
<div class="review">
<div class="stars mb-30">
 	

    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text " aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    

</div>
<h4>
<a target="_blank" href="#">It's given me amazing relief from the daily pain I had been feeling.</a>
</h4>
<div class="copyblock">
<p>I received your product yesterday and immediately started using it. It took me about 3 minutes before I found a good spot on my upper back. The <strong>pain went away within seconds.</strong> I have been suffering from daily muscle spasms and tightening that was so painful. This would happen daily when I walked for more than a couple of minutes and when I would lie down to sleep. This has gone on for over 4 years . MRIs , Xrays, chiropractor, massage therapy, orthopedist. I have tried everything and still ..pain. I know that your product isnt fixing the issue, but it has (so far) given me <strong>amazing relief from the daily pain that Ive been feeling.</strong> I have told several people about this product and I have no doubt that they will be ordering from you. Thank you so much for developing this amazing technology and delivering it at a reasonable price!!</p>
</div>
</div>	
	
<div class="rating">

<div class="user">
<strong class="reviewer-name">Michael L.&lrm;</strong>
<div class="verified"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Verified Buyer</div>
</div>
</div>

</div>
 <div class="testimonial-block">
	
<div class="review">
<div class="stars mb-30">
 	

    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text " aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    

</div>
<h4>
<a target="_blank" href="#">"This thing is absolutely amazing!!"</a>
</h4>
<div class="copyblock">
<p>Within seconds of putting it on the pain was almost gone...I am completely blown away! Thank you so much for making a great product! I will be definitely buying more. I have really bad planters fasciitis in my left foot. And Ive had 8 knee surgeries on my right knee and one on my left knee. I am still dealing with a separated shoulder. And also back pain from carrying around my special needs son Jack. My wife also suffers from chronic migraines and back pain as well from her pregnancy 10 years ago. I just cant get over how great this works. My mind is blown. I am an electrician and I was very interested and excited to try this. Your tech is simply amazing. Thank you again.</p>
</div>
</div>	
	
<div class="rating">

<div class="user">
<strong class="reviewer-name">Jacob Wilson&lrm;</strong>
<div class="verified"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Verified Buyer</div>
</div>
</div>

</div>
<div class="testimonial-block">
	
<div class="review">
<div class="stars mb-30">
 	

    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text " aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    

</div>
<h4>
<a target="_blank" href="#">IT IS SIMPLY MIRACULOUS</a>
</h4>
<div class="copyblock">
<p>Living with pain for an extended amount of time, not getting results from doctors visits and tests, it became very frustrating. Im invited for dinner at my sisters house one night and it becomes life changing as she wrapped a Kailo around my ankle. Moments later I felt warmth and the pain I had experienced for years subsided. After a few days, I could go without using it for a day or so. We have found it to help with headaches, cramps, back pain and neck pain. It has helped my friends and family with hip pain and knee pain and even worked to make the pain of passing a kidney stone tolerable. It works...It is simply miraculous.</p>
</div>
</div>	
	
<div class="rating">

<div class="user">
<strong class="reviewer-name">MELODY S.&lrm;</strong>
<div class="verified"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Verified Buyer</div>
</div>
</div>

</div>
<div class="testimonial-block">
	
<div class="review">
<div class="stars mb-30">
 	

    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text " aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    <i class="fa fa-star  white-text" aria-hidden="true"></i>
    

</div>
<h4>
<a target="_blank" href="#">WITHIN MINUTES I FELT RELIEF</a>
</h4>
<div class="copyblock">
<p>I have struggled with nerve pain down my left leg for 30 years...but it was intensified in 2016 after spine surgery. My niece introduced me to Kailo and I'm sure you know my immediate thought (after 30 years of pain)...sure, I'll try it but don't expect miracles. Within minutes, I felt relief and requested my children get me one for Christmas. Bless my children as they gave it to me at Thanksgiving. I am PAIN FREE and feel so much younger and fit. Your product truly saved my quality of life, if not my life itself.  Sincerely appreciated daily.</p>
</div>
</div>	
	
<div class="rating">

<div class="user">
<strong class="reviewer-name">TAMMIE WINKLER&lrm;</strong>
<div class="verified"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; Verified Buyer</div>
</div>
</div>

</div>

</div>

  
  <div class="btn-wrapper kailo-landing">
    <button type="button" onclick="location.href='#buy';"><span>ORDER KAILO NOW</span></button>
	
	</div>





  </div>

 </section>

 

<section class="prinInvestigator mb-0">
  <div class="wrapper container">
    
       <div class="col col-adjacent">
         <img class="mb-30" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/clinical-trial-icon.png" alt="">
         
         <h2>STUDY SHOWED AMAZING <br> RESULTS</h2>
        <p class="mb-0">The interim results from the IRB-approved study demonstrated that patients who used Kailo over a period of 30 days showed a vast reduction of their pain severity levels. They experienced a better quality of life, improved function, were very satisfied with the Kailo Pain Patch, and preferred the patch over oral pain medications.</p>
         <p class="mb-0">With the increased focus on identifying alternative therapies for patients in pain that clinicians and consumers can turn to, the use and ongoing research of novel approaches, including the non-drug, and microtechnology-based Kailo patch, seems to have a very positive effect on patients who are experiencing mild, moderate, and chronic pain.</p>
        <p class="mt-2 mb-30 white-text notataion-name "><strong class="white-text">Jeffrey Gudin, MD.</strong><br>Principal Investigator</p>
         <div class="dr-jeffrey-gudin-mobile-wrapper"><img class="dr-jeffrey-gudin-mobile" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/jefferyGudin-MD-sm.png?v=1655479335" alt="Dr. Jeffrey Gudin MD" /></div>
      </div>
      
      
    
       
     	
 </div>  
</section>

  
  
<section class="mb-0 ease_use">
  
<div class="manage-grid">
  
 <div class="wrapper center pb-0">
    <h3 class="pt-10 white-text">EASY EVERYDAY USE</h3>
    <p class="white-text pl-20">Just place it on your body right from the box - it's that simple</p>
  </div>
 
<section class="feature-grid-block pb-0 mb-0" >





<div class="grid-container full-width p-0 ">
<div class="flex">
<div class="image-container">
<div class="inner caption-position-middle">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/application-01-v2.jpg?v=1654865121" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body ">
<div class="caption-heading"><span>step one</span></div> 
  <div class="caption-copy"><span>
    <p>   
Place Kailo at the source of your pain

</p>
</span></div> </div>
</div>
</div>
</div>
<div class="image-container step-2">
<div class="inner caption-position-middle">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/application-02-v2.jpg?v=1654865133" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body ">
<div class="caption-heading"><span>STEP TWO</span></div> <div class="caption-copy"><span><p>
 Move it around slowly till you find the perfect Spot  	 </p>
</span></div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-middle">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/application-05-v2.jpg?v=1654865142" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body ">
<div class="caption-heading"><span>step Three</span></div> <div class="caption-copy"><span><p>Stick it on and enjoy the relief!</p>
</span></div> </div>
</div>
</div>
</div>
</div>
  
  
<section class="extra-icons_aligns" >
	<div class="block-content">
  
  
  <div class="section-content eplus-KFAHUE">
    <div class="santek-block-group__inner-container"> 
      
<div class="grid-container  pb-50 " data-display-type="icon_grid" data-id="6259ba2316010">
<div class="grid" data-row-break="3" data-item-count="6">
<div data-index="1" class="image-container">
<div class="inner caption-position-below">
<div class="mt-5 text-left pl-20">
<i class="fa fa-2x fa-truck white-text" aria-hidden="true"></i>
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><p>90-Day Money Back Guarantee</p></div> <div class="caption-copy"><p>That's right, you can try Kailo risk free. If you're not satisfied with your Kailo pain patch you can return it for a full refund within 90 days.</p>
</div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="mt-5 text-left pl-20">
<i class="fa fa-flag fa-2x white-text" aria-hidden="true"></i>
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><p>Made In The<br>USA</p></div> <div class="caption-copy"><p>Kailo is 100% manufactured, designed and engineered in the  great state of Utah.</p>
</div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="mt-5 text-left pl-20">
<i class="fa fa-flag fa-2x white-text" aria-hidden="true"></i>
</div>
<div class="caption">
<div class="text-group w-heading w-body">
<div class="caption-heading"><p>FREE, FAST DOMESTIC SHIPPING (USA)</p></div> 
<div class="caption-copy"><p>We ship all over the world to over 100 countries.</p>
</div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="mt-5 text-left pl-20">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/hansshake.png" width="30" alt="icon">
  

</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><p>PRODUCT QUALITY GUARANTEE</p></div> <div class="caption-copy"><p>Quality control is of the upmost importance to us. Every patch is tested to ensure a safe and effective product.</p>
</div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="mt-5 text-left pl-20">
<i class="fa-2x white-text fa fa-comments" aria-hidden="true"></i>
 
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><p>AMAZING CUSTOMER SUPPORT</p></div> <div class="caption-copy"><span><p>Fast response times from real people who truly care and love to speak with customers. </p>
</span></div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="mt-5 text-left pl-20">
<i class="fa fa-2x white-text fa-check-circle" aria-hidden="true"></i>
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><p>OUR MISSION</p></div> <div class="caption-copy"><span><p>To help millions of people live a pain-free life without drugs or medication.</p>
</span></div> </div>
</div>
</div>
</div>
</div>
</div>

</div></div>
	</div>

</section>
</div>

  
    
  
  
  
   </section>
  
</div>
</section>


<section class="feature-2-column-block kablo-bundle" >

<div class="santek-block-group column-1 text-group ">
<div class="santek-block-group__inner-container hidden-xs">
<h2 class="subhead is-style-demi-heading ">WHAT COMES WITH KAILO?</h2>
<h2 class="heading">KAILO BUNDLES INCLUDE</h2>
<ul class="p-0 m-0" style="font-size:18px">
  <li><strong>1 KAILO PAIN PATCH</strong><br><span>Reusable and lasts for years</span><br></li>
  <li><strong>2 ULTRA-SOFT CARRYING CASE</strong><br> <span>A protective felt pocket featuring a sleeve in the front for your Kailo and a sleeve on the back to store extra adhesives.</span><br></li>
  <li><strong>3 FREE ADHESIVES</strong><br><span>Can be removed and reapplied to your skin multiple times before losing its stick.</span></li>
  </ul>

  <div class="btn-wrapper kailo-landing"><button type="button" onclick="location.href='#buy';"><span>ORDER KAILO NOW</span></button></div>
  </div>
  </div>
 
</section>
  
  
 <div class="align-text-moblle visible-xs">
    <div class="santek-block-group column-1 text-group ">
  <div class="santek-block-group__inner-container">
<h2 class="subhead is-style-demi-heading ">WHAT COMES WITH KAILO?</h2>
<h2 class="heading">KAILO BUNDLES INCLUDE</h2>
<ul class="p-0 m-0" style="font-size:18px">
  <li><strong>1 KAILO PAIN PATCH</strong><br><span>Reusable and lasts for years</span><br></li>
  <li><strong>2 ULTRA-SOFT CARRYING CASE</strong><br> <span>a protective felt pocket featuring a sleeve in the front for your Kailo and a sleeve on the back to store extra adhesives.</span><br></li>
  <li><strong>3 FREE ADHESIVES</strong><br><span>Can be removed and reapplied to your skin multiple times before losing its stick.</span></li>
  </ul>

  <div class="btn-wrapper kailo-landing"><button type="button" onclick="location.href='#buy';" tabindex="-1"><span>ORDER KAILO NOW</span></button></div>
  </div></div>
    
    
  </div>  

<section id="offer" class="mb-0 pt-5" style=" background: linear-gradient(to bottom, #5a5a5a 0%, #f3f3f3 100%);">
<div class="features wrapper center" >
  <h2 class="heading pt-10 white-text">The Pain Relief You've Been Dreaming Of</h2>
  <p class="mb-0 meduim-font bluish-1">Bundles are individually packaged & now on sale!</p>
  


<!-- DESKTOP PRODUCT SECTION -->
<a class="buy-anchor" name="buy" tabindex="-1"></a>
<section class="products wrapper center desktop p-0">
  <div class="container bundle-container">
    <div class="pricing">
      <div class="kailo-card">
      <a href="#bundle-1" class="inline-popup product-link">
        <h3 class="kailo-card-heading kailo-card-heading-free"></h3>
        <ul class="kailo-bundle-group call-out-font-weight">
          <li class="kailo-product-detail-item"><h4> Kailo Bundle</h4></li>
		  <li class="kailo-product-detail-item productImg_1bundle"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/klio-nuns.png" alt=""></li>
          <li class="kailo-product-detail-item pt-10 mb-0">Includes:</li>
          <li class="kailo-product-detail-item">- 1 Reusable Kailo</li>
          <li class="kailo-product-detail-item">- 3 Free Adhesives</li>
          <li class="kailo-product-detail-item">- 1 Free Soft Carrying Case</li>          
        </ul>
        <p class="kailo-card-price mt-3"><span class="sale">Retail $119</span>
         <span class="bluish font-size-20">Now $83.30</span>
        <span class="bluish font-size-15">You Save $35.70</span></p>        
        <p class="freeShipping"><p class="freeShipping"><i class="fa  fa-truck " aria-hidden="true"></i> FREE USA Shipping</p></p>
        <!-- original product --><div class="btn-wrapper kailo-landing"><button class="landing-product-add productBtn custom-btn" data-id="34127408169091" type="button"><span>ORDER NOW</span></button></div>
        <!-- Mothers Day product <div class="btn-wrapper kailo-landing"><button class="productBtn custom-btn" data-id="39719228801155" type="button" onclick="manageProductSelection();"><span>ORDER KAILO NOW</span></button></div>-->
        </a>
      </div>
      <div class="kailo-card kailo-card-highlight">
      <a href="#bundle-1" class="inline-popup product-link">      
         <h3 class="kailo-card-heading kailo-card-heading-lite">Most Popular</h3>
        <ul class="kailo-bundle-group call-out-font-weight">
          <li class="kailo-product-detail-item"><h4><strong>Buy 2, Get 1 FREE</strong></h4></li>
          <li class="kailo-product-detail-item productImg_3bundle"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/popular.png" alt=""></li>    
          <li class="kailo-product-detail-item pt-10 mb-0">Includes:</li>            
          <li class="kailo-product-detail-item">- 3 Reusable Kailo</li>
          <li class="kailo-product-detail-item">- 9 Free Adhesives</li>
          <li class="kailo-product-detail-item">- 3 Free Soft Carrying Case</li>   
        </ul>
        <p class="kailo-card-price mt-3">
            <span class="sale">Retail $357</span>
           <span class="bluish font-size-20">Total $238</span>
        <span class="bluish font-size-15">You Save $119</span></p>
        <p class="freeShipping"><p class="freeShipping"><i class="fa fa-truck " aria-hidden="true"></i> FREE USA Shipping</p></p>         
        <!-- Original product --><div class="btn-wrapper kailo-landing"><button class="landing-product-add productBtn custom-btn" data-id="42712927142019" type="button"><span>ORDER NOW</span></button></div>
        <!-- Mothers Day product <div class="btn-wrapper kailo-landing"><button class="productBtn custom-btn" data-id="39719237681283" type="button" onclick="manageProductSelection();"><span>ORDER KAILO NOW</span></button></div>-->
        </a>
      </div>
      <div class="kailo-card">
      <a href="#bundle-1" class="inline-popup product-link">      
        <h3 class="kailo-card-heading kailo-card-heading-pro">Best Deal</h3>
        <ul class="kailo-bundle-group call-out-font-weight">
          <li class="kailo-product-detail-item"><h4><strong>Buy 3, Get 2 FREE</strong></h4></li>
		  <li class="kailo-product-detail-item productImg_5bundle"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/best.png" srcset="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-5-bundle-mobile.jpg?v=1650492951 480, https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-5-bundle-opt.jpg?v=1650492951 800" sizes="(max-width: 600px) 480px, 800px" alt=""></li>          
          
          <li class="kailo-product-detail-item pt-10 mb-0">Includes:</li>
          <li class="kailo-product-detail-item">- 5 Reusable Kailo</li>
          <li class="kailo-product-detail-item">- 15 Free Adhesives</li>
          <li class="kailo-product-detail-item">- 5 Free Soft Carrying Case</li>  
        </ul>
         <p class="kailo-card-price mt-3">
            <span class="sale">Retail $595</span>
           <span class="bluish font-size-20">Total $357</span>
        <span class="bluish font-size-15">You Save $238</span></p>       
        <p class="freeShipping"><p class="freeShipping"><i class="fa  fa-truck " aria-hidden="true"></i> FREE USA Shipping</p></p>               
        <!-- original product --><div class="btn-wrapper kailo-landing"><button class="landing-product-add productBtn custom-btn" data-id="42712927502467" type="button"><span>ORDER NOW</span></button></div>
        <!-- Mothers Day product <div class="btn-wrapper kailo-landing"><button class="productBtn custom-btn" data-id="34127410757763" type="button" onclick="manageProductSelection();"><span>ORDER KAILO NOW</span></button></div>-->
        </a>
      </div>
    </div>
  </div>
</section>
  </div>
 
  </section>
<!-- MOBILE PRODUCT SECTION -->
  
<section class="products wrapper center mobile">
  <form id="form">
  <div class="container">
    <div class="pricing">
      <label for="1kailo">
      <a href="#bundle-1" class="inline-popup product-link">
      <div class="kailo-card">
        <!-- original product (radio button) <div class="colMobile"><input data-id="34127408169091" type="radio" id="1kailo" name="kailoBundle" value="1kailo"></div>-->
        <!-- Mothers Day product <div class="colMobile"><input data-id="39719228801155" type="radio" id="1kailo" name="kailoBundle" value="1kailo"></div>-->
        <div class="colMobile">
          <img width="30px" class="lazyload" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/klio-nuns.png" alt="">
        </div>
        <div class="colMobile">
        <ul class="kailo-bundle-group call-out-font-weight">      
          <li class="kailo-product-detail-item"><strong>Kailo Bundle<br>+ FREE USA SHIPPING</strong><br><hr class="underline"></li>		  
          <li class="kailo-product-detail-item pt-10 mb-0"><strong>Includes:</strong></li>
          <li class="kailo-product-detail-item">- 1 Reusable Kailo</li>
          <li class="kailo-product-detail-item">- 3 Free Adhesives</li>
          <li class="kailo-product-detail-item">- 1 Free Soft Carrying Case</li> 
          <li class="kailo-product-detail-item"><span class="sale">Retail $119</span></li>
          <li class="kailo-product-detail-item"><span class="bluish"><strong>Now $83.30</strong></span></li>
          <li class="kailo-product-detail-item"><span class="bluish">You Save $35.70</span></li>              
        </ul>
        </div>
        <!--<div class="btn-wrapper kailo-landing"><button class="productBtn" type="button" onclick="bundle(SelectedProductId,'false');"><span>ORDER NOW</span></button></div>-->
        
      </div>
      <!-- original product --><div class="btn-wrapper kailo-landing"><button class="landing-product-add productBtn custom-btn" data-id="34127408169091" type="button"><span>ORDER NOW</span></button></div>
      </a>
      </label>
      
      <label for="3kailo">
      <a href="#bundle-1" class="inline-popup product-link">
      <div class="kailo-card kailo-card-highlight ribbonParent">
        <h3 class="ribbon blue">Most Popular</h3>
        <!-- original product (radio button) <div class="colMobile"><input data-id="34306690809987" type="radio" id="3kailo" name="kailoBundle" value="3kailo" checked="checked" /></div>-->
        <!-- Mothers Day product <div class="colMobile"><input data-id="39719237681283" type="radio" id="3kailo" name="kailoBundle" value="3kailo" checked="checked" /></div>-->
        <div class="colMobile">
          <img width="50px" class="lazyload" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/popular.png" alt="">
        </div>
        <div class="colMobile">
        <ul class="kailo-bundle-group call-out-font-weight">      
          <li class="kailo-product-detail-item"><strong>Buy 2, Get 1 FREE<br>+ FREE USA SHIPPING</strong><br><hr class="underline"></li>		  
          <li class="kailo-product-detail-item pt-10 mb-0"><strong>Includes:</strong></li>
          <li class="kailo-product-detail-item">- 3 Reusable Kailo</li>
          <li class="kailo-product-detail-item">- 9 Free Adhesives</li>
          <li class="kailo-product-detail-item">- 3 Free Soft Carrying Case</li>
         
          <li class="kailo-product-detail-item"><span class="sale">Retail $357</span></li>
          <li class="kailo-product-detail-item"><span class="bluish"><strong>Total $238</strong></span></li>
          <li class="kailo-product-detail-item"><span class="bluish">You Save $119</span></li>              
        </ul>
        </div>
        <!--<div class="btn-wrapper kailo-landing"><button class="productBtn" type="button" onclick="bundle(SelectedProductId, 'false');"><span>ORDER NOW</span></button></div>-->
      </div> 
      <!-- Original product --><div class="btn-wrapper kailo-landing"><button class="landing-product-add productBtn custom-btn" data-id="42712927142019" type="button"><span>ORDER NOW</span></button></div>
      </a>
      </label>  
            
      <label for="5kailo">
      <a href="#bundle-1" class="inline-popup product-link">
      <div class="kailo-card ribbonParent">
        <h3 class="ribbon bluish">Best Deal</h3>
        <!-- original product (radio butotn) <div class="colMobile"><input type="radio" data-id="34306695659651" id="5kailo" name="kailoBundle" value="5kailo"></div>-->
        <!-- Mothers Day product <div class="colMobile"><input type="radio" data-id="34127410757763" id="5kailo" name="kailoBundle" value="5kailo"></div>-->
        <div class="colMobile">
          <img width="60px" class="lazyload" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/best.png" alt="">
        </div>
        <div class="colMobile">
        <ul class="kailo-bundle-group call-out-font-weight">      
          <li class="kailo-product-detail-item"><strong>Buy 3, Get 2 FREE<br>+ FREE USA SHIPPING</strong><br><hr class="underline"></li>		  
          <li class="kailo-product-detail-item pt-10 mb-0"><strong>Includes:</strong></li>
          <li class="kailo-product-detail-item">- 5 Reusable Kailo</li>
          <li class="kailo-product-detail-item">- 15 Free Adhesives</li>
          <li class="kailo-product-detail-item">- 5 Free Soft Carrying Case</li> 
          <li class="kailo-product-detail-item"><span class="sale">Retail $595</span></li>
          <li class="kailo-product-detail-item"><span class="bluish"><strong>Total $357</strong></span></li>
          <li class="kailo-product-detail-item"><span class="bluish">You Save $238</span></li>              
        </ul>
        </div>
        <!--<div class="btn-wrapper kailo-landing"><button class="productBtn" type="button" onclick="bundle(SelectedProductId, 'false');"><span>ORDER NOW</span></button></div>-->
      </div> 
      <!-- original product --><div class="btn-wrapper kailo-landing"><button class="landing-product-add productBtn custom-btn" data-id="42712927502467" type="button"><span>ORDER NOW</span></button></div>
      </a>
      </label>       
      
    </div>
    <!-- radio button format submitt button <div class="btn-wrapper kailo-landing"><button class="productBtn" type="button"><span>ORDER KAILO NOW</span></button></div>-->
  </div>
  </form>
</section>



<footer id="footer-badges"  class="mb-0">
 <div class="wrapper">
   <!--<h4 class="text-white">Question? See Our FAQs</h4>-->
   
<div class="footer-badge-container">
  
<div data-payment-accepted="trust-badge" class="payment-badge" style="">
<div class="vertically-centered">

<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/gueantee.png" class="trust-badge show-for-ie" loading="lazy">
</div>
</div>
<div data-payment-accepted="american-express" class="payment-badge" style="">
<div class="vertically-centered">

<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/mastercard.png" class="american-express primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="discover" class="payment-badge" style="">
<div class="vertically-centered">

<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/AS.png" class="discover primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="mastercard" class="payment-badge" style="">
<div class="vertically-centered">

<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/discover.png" class="mastercard primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="visa" class="payment-badge" style="">
<div class="vertically-centered">

<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/visa.png" class="visa primary-graphic" loading="lazy">
</div>
</div>


</div>
</div>  
 
  
</footer> 

<footer class="btm-footer">
  
   <div class="wrapper">
  <div class="footer-badge-container">
    
    <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/footer-logo.png?v=1654928194" alt="footer-logo">
    
  </div>
  <br>
  <div class="copyrights">
          <p class="text">Copyright  2022 
            Kailo Labs LLC. All rights reserved. Kailo, The K Emblem, and The Future of Pain Relief are trademarks of Kailo Labs LLC. Kailo is protected by U.S. Patents</p>
          <p>Kailo licenses technology from nCAP technologies.</p>
    </div>
  
  </div>
  
</footer>
 

<div id="bundle-1" class="white-popup mfp-hide">
  <div class="popup-inner">
    <div>
      <span class="special">Special Offer!</span>
      <div class="rate">
        <span class="number toggle-me">45</span>
        <span class="number toggle-me hidden">60</span>
        <span class="percent">%</span>
        <span class="off">OFF</span>
</div>
<img class="special-image lazyload toggle-me" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-b1-01_0bd95b4e-2f90-4e71-82c1-0e17776dd16a.jpg?v=1651516940" width="250" />
<img class="special-image lazyload toggle-me hidden" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/kailo-pain-relief-adheasive-kt-tape-roll-set_720x.jpg?v=1626439236" width="250" />
</div>
<div>
<span class="act-now">Act Now and Get...</span>
<span class="offer toggle-me">Kailo bundle for 45% OFF!</span>
<span class="offer toggle-me hidden">Kailo KT Tape Roll - 60% OFF!</span>
<br><span class="original-price toggle-me">$119 Value</span>
  <span class="original-price toggle-me hidden 2ndoffer">$11.99 Value</span>
<span class="new-price toggle-me">Special Addon Price = $65.45!</span>
  <span class="new-price toggle-me hidden">Special Addon Price = $4.80!</span>
<div class="yes-bundle">
  <a class="popup-button toggle-me" data-id="place-holder" data-bundle="32251489255555" style="font-size:1em;">
    <span>Yes, Get My 45% Saving</span>
  </a>
  <a class="popup-button toggle-me hidden" data-id="place-holder" data-bundle="32217170608259" data-discount="discount60" style="font-size:1em;">
    <span>Yes, Get My 60% Saving</span>
  </a>
</div>
<div class="no-thanks"><a data-id="place-holder" data-bundle="false">No Thank You</a></div>
</div>
</div>
</div>  
  
  
{% include 'bmafnet_tracking' %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

<script type="text/javascript">
  
  
//Things
const mainProducts = document.querySelectorAll('.inline-popup .landing-product-add');
const popupActions = document.querySelectorAll('[data-bundle]');
const popup = document.querySelector('#bundle-1');
//Data

const producstArray = [];
  let selectedProductId = false;
//Functions
    function createDefaultProductArrayItem(e){
        selectedProductId = this.dataset.id;
        producstArray[this.dataset.id] = {};
        producstArray[this.dataset.id].items = [
            {
                id: this.dataset.id,
                quantity: 1
            }
        ] 
    }

    function buildProductObject(e){
  
      if(this.dataset.discount != 'discount60'){
        const toggleElements = this.closest('.popup-inner').querySelectorAll('.toggle-me');
        toggleElements.forEach(element => {
            element.classList.toggle('hidden');
});
    } 
  

    if(this.dataset.bundle != 'false'){
      const bundleProduct = {
        id: this.dataset.bundle,
        quantity: 1,
        properties: {
          '_discount': this.dataset.discount ? this.dataset.discount : ''
}
}
producstArray[selectedProductId].items.push(bundleProduct);
  }else{
    producstArray[selectedProductId].items.push(null);
  }
  if(producstArray[selectedProductId].items.length == 3){
    addAllItems(producstArray[selectedProductId], e);
}
    }
  
    function addAllItems(data, e) {
      console.log(data);
    e.target.closest('.mfp-content').querySelector('.mfp-close').click();
    fetch('/cart/add.js', {
      body: JSON.stringify(data),
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json',
        'X-Requested-With':'xmlhttprequest'
      },
      method: 'POST'
    }).then((response) => {
      return response.json();
    }).then((json) => {
      /* yay! our products were added - do something here to indicate to the user */
  	location.href='/cart';
  }).catch((err) => {
    /* uh oh, we have error. */
    console.error(err)
  });
     }
 //Events
 mainProducts.forEach(mainProduct => {
  mainProduct.addEventListener('click', createDefaultProductArrayItem);
        });
        popupActions.forEach(close => {
          close.addEventListener('click', buildProductObject);
     });
 //Actions
 var waitForJQuery = setInterval(function () {
  if (typeof $ != 'undefined') {
 
    $('.inline-popup').magnificPopup({
      type:'inline',
      midClick: true
      });
 
      clearInterval(waitForJQuery);
    }
}, 1000);
//Tests
 
</script>




