<style>

  .video-container{
   width:500px; 
  }
  
 @font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+1F00-1FFF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0370-03FF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+1F00-1FFF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0370-03FF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+1F00-1FFF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0370-03FF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} 
@font-face { 
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  font-stretch:100%;
  src:url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@media all{ 
  * { 
    -webkit-font-smoothing:  antialiased; 
    -moz-osx-font-smoothing:  grayscale;
    box-sizing: border-box;
  } 
}     

@media all{ 
  div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
  } 
}     

@media all{ 
  .feature-2-column-block .block-content .media-group .wp-block-group__inner-container { 
    position: relative; 
    width: 100%; 
    height: 100%;
  } 
}     

@media all{ 
  .wp-block-group { 
    box-sizing: border-box;
  } 
}     

@media all{ 
  .feature-2-column-block .block-content .column-2 { 
    margin: 0; 
    padding: 0; 
    position: relative;
  } 
}     

@media only screen and (min-width: 768px){ 
  .feature-2-column-block .block-content .column-2 { 
    flex: 0 0 50%; 
    max-width: 50%; 
    min-height: 400px;
  } 
}     

@media only screen and (min-width: 768px){ 
  .feature-2-column-block[data-column-order="normal"][data-column-proportion="50/50"] .block-content .column-2 { 
    flex: 0 0 50%!important; 
    max-width: 50%!important;
  } 
}     

@media all{ 
  .feature-2-column-block .block-content { 
    display: flex; 
    width: 100%;
  } 
}     

@media only screen and (min-width: 768px){ 
  .feature-2-column-block[data-column-order="normal"] .block-content { 
    flex-direction: row;
  } 
}     

@media all{ 
  section { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit; 
    vertical-align:  baseline;
    display: block;
  } 
}     

@media all{ 
  .feature-2-column-block { 
    margin-bottom: 35px; 
    background-size: cover; 
    background-position: right;
  } 
}     

@media only screen and (min-width: 768px){ 
  .feature-2-column-block[data-margin-desktop="false"] { 
    margin-bottom: 0;
  } 
}     

@media all{ 
  #main-wrapper { 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    background: #fff;
  } 
}     

@media all{ 
  body { 
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:  16px; 
    font:   inherit; 
    vertical-align:   baseline;
    font-family:  -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,liberation sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji; 
    font-weight:  400; 
    text-align:  left; 
    background-color:  #fff;
    line-height: 1.14; 
    color: #000; 
    opacity: 0; 
    -webkit-transition: opacity .3s; 
    -moz-transition: opacity .3s; 
    -ms-transition: opacity .3s; 
    -o-transition: opacity .3s; 
    transition: opacity .3s;
  } 
}     

@media only screen and (min-width: 768px){ 
  body { 
    font-family: Open Sans,Helvetica,Arial,sans-serif;
  } 
}     

@media all{ 
  body.single-offer { 
    background-color: #333; 
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNicgaGVpZ2h0PSc2JyB2aWV3Qm94PScwIDAgNiA2JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxnIGZpbGw9JyMzZTNlM2UnIGZpbGwtb3BhY2l0eT0nMC40JyBmaWxsLXJ1bGU9J2V2ZW5vZGQnPjxwYXRoIGQ9J001IDBoMUwwIDZWNXpNNiA1djFINXonLz48L2c+PC9zdmc+);
  } 
}     

@media all{ 
  html { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit; 
    vertical-align:  baseline;
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
  } 
}     

@media only screen and (min-width: 768px){ 
  .video-container  { 
    padding:  50px 10% 50px 0;
    transform: translateY(-50%);
  } 
}     

@media all{ 
  .video-container  { 
    text-align: center; 
    position: relative;
  } 
}     

@media only screen and (min-width: 768px){ 
  .video-container  { 
    top: 50%;
  } 
}     

@media all{ 
  *,:after,:before { 
    box-sizing: border-box;
  } 
}     

@media all{ 
  .video-wrapper  { 
    position: relative; 
    padding-bottom: 56.25%; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto;
  } 
}     

@media all{ 
  iframe { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
  } 
}     

@media all{ 
  iframe  { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1;
  } 
}     

@media all{ 
  .video-container[data-video-player="sprout"] .preroll  { 
    z-index: 0;
  } 
}     


 
  
</style>


<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="video-container snipcss-OL1g3 snip-div" data-id="62742ddf74b3a" data-video-player="sprout">
<div class="video-wrapper snip-div">
<iframe id="v-intro_video" class="main" src="https://videos.sproutvideo.com/embed/4d9dd6b4101fe4c7c4/5683db55b8298a56?playerColor=28bbff&amp;transparent=true&amp;volumeControl=0" width="540" height="300" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
<iframe id="v-intro_video" title="My Happy Feet Socks | Toe Alignment Socks Help Eliminate Foot Pain" class="main" src="https://videos.sproutvideo.com/embed/119edfb71c18e3ce98/82ad72c51d7b9b4b?playerColor=28bbff&amp;transparent=true&amp;volumeControl=0" width="540" height="300" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
<iframe id="v-intro_video-preroll" title="My Happy Feet Socks | Toe Alignment Socks Help Eliminate Foot Pain" class="preroll" src="https://videos.sproutvideo.com/embed/119edfb71c18e3ce98/82ad72c51d7b9b4b?playerColor=28bbff&amp;transparent=true&amp;background=true&amp;autoPlay=true&amp;loop=true&amp;volume=0" width="540" height="300" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>





<div style="position:relative;height:0;padding-bottom:56.25%"><iframe class='preroll lazyloaded' src='https://videos.sproutvideo.com/embed/119edfb71c18e3ce98/82ad72c51d7b9b4b?playerColor=28bbff&transparent=true&background=true&autoPlay=true&loop=true&volume=0' style='position:absolute;width:100%;height:100%;left:0;top:0' frameborder='0' allowfullscreen referrerpolicy='no-referrer-when-downgrade'></iframe></div>




