{% comment %} {% assign header_title = page.title %}
{% include 'page_header' with header_title %} {% endcomment %}

<div class="wrapper wrapper--margins wrapper__article">
  <div class="rte">
    <div class="klaviyo-form-RXNUzB"></div>
  </div>
</div>

